%div.narrow
  %div.even_more
    %h2
      What is Model United Nations?
    %p
      Model United Nations simulates the professional order and universal goals of the United Nations. In addition
      to the General Assembly, MUN simulates various specialized committees, historical councils and ad hoc crisis
      committees to bring together curious students with a passion for resolving the world’s most challenging problems.
    %p
      Model United Nations at UCSD aims to help participants explore international issues, practice best speaking
      practices, elevate the depth of research papers, and be a more confident version of themselves. Our dedicated
      Secretariat believes in training an army of erudites, capable of questioning every governmental action and
      institutional goal. It’s our world; we don’t just live in it.

    %h2
      How can I join?
    %p
      Check us out on library walk during Welcome Week. Our meeting/training times will be posted on our website
      and are open to the public. You can look up special events on our calendar or stay up-to-date by following
      our
      %a{href: "https://www.facebook.com/ModelUnitedNationsAtUcsd"}
        Facebook page.
    %p
      Our club has two branches:
      %ol
        %li the Travel Team and
        %li the TritonMUN Home Conference
    %h2
      What is the Travel Team?
    %p
      As part of the Travel Team, you will get to visit exciting places such as Boston, Los Angeles, Chicago,
      San Francisco and New York. All of which will be subsidized by the club. Each individual trip requires
      interviewing and evaluating applicants based on club involvement, debate abilities and most importantly,
      enthusiasm. Everyone is welcome to attend trainings.
    %p
      The travel team prides itself in community bonding and mutual support at conferences. We hope to grow together
      at conferences, and at home. To learn more about the travel team, email us at travelingtritons@gmail.com or
      visit our
      %a{href: "https://www.facebook.com/ModelUnitedNationsAtUcsd"}
        Facebook page.
    %h2
      What is TritonMUN?
    %p
      Triton Model United Nations is the name of the home conference series hosted by MUN at UCSD.
      The conference is entirely run by UCSD students who are committed to bringing global topics to the
      local community by providing the opportunity for students to practice diplomacy, networking, and public speaking.
    %p
      Every year, our team puts on two conferences: a one-day fall conference, and a two-day spring conference.
      The aim of each conference is to expose students to key international issues, build students’ public speaking
      skills and help them to understand different social, political and economic perspectives. We believe that in
      doing so, we help build a more perceptive and understanding generation.
    %p
      Over the past few years, our TritonMUN team has been enthusiastically growing to unprecedented heights.
      In addition to our expanding high school conferences, new branches of our club are developing plans to host
      our first-ever collegiate conference and a joint conference with the United Nations Association, San Diego.
      Check out our calendar for upcoming dates or contact us at tritonmun.ucsd@gmail.com.


