
%br
  %br
    %br

%h1#tritonmun
  %span#main
    TritonMUN App
%br
  %br
%div.narrow{style: "height: 1000px"}
  %img{style: "float: left; margin-right: 3em;", src: "https://lh5.ggpht.com/vj9-en7FdvP0H2vRhJ-FxJuw7HHqcZPbTu8WMqkiFlbrfvEhsD6mGMgmBqgfZKddqdT-=h900-rw"}
  %a{href:"https://play.google.com/store/apps/details?id=com.ModelUnitedNationsatUCSD.TritonMUN"}
    %div.apply{style: "float: left; vertical-align: middle; font-size: 3em"}
      Download




