.column.medium.right
  .module.upcoming
    .title
      %span
        TRAVEL CONFERENCES
    = render @tconferences
.column.medium.right
  .module.upcoming
    .title
      %span
        HOME CONFERENCES
    = render @hconferences
.column.medium.right
  .module.upcoming
    .title
      %span
        COLLEGIATE CONFERENCES
    = render @cconferences