
  <div id="comm_cont">
<br><br><br>
    <!--    <div id="pp_top">
          <span class="exclaim">!</span>
          <p id="dead"><strong>Topic Guides will be posted shortly</strong></p>

          <p id="dead2"><em>Please check back for updates.</em></p>
        </div>-->

    <div class="comm_box">
      <h2 class="com_head">General Assembly</h2>
      <a href="<%= asset_path("bgs/UnitedNationsGeneralAssembly-Droughts.pdf") %>"><div class="button">Topic
        Guide</div></a>
      <div class="chair"><span class="chair">Date: </span><span class="name">October 12, 2014</span></div>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Droughts</h3>
        <%= image_tag("b1.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>

    </div>

    <div class="comm_box">
      <h2 class="com_head">SeaWorld Emergency Shareholder Meeting</h2>
      <a href="<%= asset_path("bgs/SeaWorldEmergencyShareholderMeeting.pdf") %>"><div class="button">Topic Guide</div></a>
      <div class="chair"><span class="chair">Date: </span><span class="name">October 16, 2014</span></div>
      <div class="ban-cont">
        <h3 class="topic">Blackfish vs. Seaworld</h3>
        <%= image_tag("b2.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>

    </div>


 </div>
