.column.small.left
  .module
    .title
      %span
        INFO
    If you have more information about our club’s history, or would like to ask any questions,
    email our secretariat at
    %span.email_address
      modelun@ucsd.edu
.column.big.right
  .module
    .title
      %span
        Club History
    %table
      %tr
        %td.year
          2014
        %td.desc
          International House Director, Henri F. Migala, Ph.D, spoke about his work eradicating polio with the World Health Organization, at the TritonMUN IX Opening Ceremonies
      %tr
        %td.year
          2014
        %td.desc
          Club members showcased retired placards for the 5th Annual Trashion Show to celebrate Earth Week
      %tr
        %td.year
          2013
        %td.desc
          Auburn Burris, UN Women panelist and international advocate for women's rights,
          opened as the keynote speaker at the TritonMUN VIII Fall Conference.
      %tr
        %td.year
          2013
        %td.desc
          Sponsored in the Fall publication of Prospect Journal http//issuu.com/i-houseucsd/docs/winternewsletter2014final
      %tr
        %td.year
          2013
        %td.desc
          Hosted A Night of Dances featuring UCSD’s Latin American and Asian dance groups
      %tr
        %td.year
          2012
        %td.desc
          Partnered with the National Association of Human Trafficking Advocates, the Sojka Foundation, Generate Hope, and Life Impact Thailand, in an information night about the 21st Century Abolitionist Movement
      %tr
        %td.year
          2011
        %td.desc
          Co-Hosted The Importance and Role of Women in Development Panel with International Affairs Group and Prospect Journal. Panel members included
          Prashant Bharadwaj, UCSD Department of Economics
          Jay Silverman, UCSD Medical School Division of Global Public Health
          Nancy Gilson, School of International Relations and Pacific Studies
      %tr
        %td.year
          2010
        %td.desc
          Published in The Guardian http://ucsdguardian.org/2010/02/08/model-united-nations/
      %tr
        %td.year
          2008
        %td.desc
          Awarded Best Organization by Eleanor Roosevelt College
      %tr
        %td.year
          2007
        %td.desc
          Published in The Guardian
          http//ucsdguardian.org/2007/12/03/model-un-ends-quarter-on-a-productive-note/
      %tr
        %td.year
          2007
        %td.desc
          First TritonMUN Conference held by former Secretary General Rebecca Saar, and Vijaya Surampudi




