
  <div class="center hero-unit">
    <h1 id="home_h1">Model United Nations at UCSD </h1>

    <div class="outer">

      <div class="inner">
        <%= image_tag("f1.jpg", alt: "Travel Team", class: "slide") %>
      </div>

      <div class="inner">
        <%= image_tag("f2.jpg", alt: "TritonMUN", class: "slide") %>
      </div>

      <div class="innerBox">
        <h2><span>Travel Team</span></h2>

          <div class="updatesBox">

    <!--
            <div class="nextConf">
                <span class="next">UPCOMING:</span>
              ChicagoXII
            </div>
            </a>
-->

            <br>
            <div class="updates">

                <ul>

                </ul>
              <!--<div class="more"><a href="#">VIEW MORE</a></div>-->



            </div>
         </div>
      </div>
      <div class="innerBox">

        <h2><span>TritonMUN</span></h2>

        <div class="updatesBox">

          <a href="/tritonmun/10">
            <div class="nextConf">
              <span class="next">UPCOMING:</span>
              TritonMUN X
            </div>
          </a>


          <br>
          <div class="updates">

            <ul>
              <li>
                <div class="date">May 5, 2014</div>
                <div class="des">
                  <a href="/tritonmun/10">
                    TritonMUN X has been posted!
                  </a>
                </div>
              </li>


            </ul>
            <!--<div class="more"><a href="#">VIEW MORE</a></div>-->

          </div>
        </div>
      </div>




  </div>
</div>
