<% provide(:title, 'About Us') %>


<h1 id="tritonmun"><span id="main">Mission</span></h1>


<div class="main_cont">
  <div id="buttonBox">

    <%= link_to (about_path) do %>
        <div class="button">Club Overview</div>
    <% end %>

    <%= link_to (@user) do %>
        <div class="button">Secretariat</div>
    <% end %>

    <%= link_to (history_path) do %>
        <div class="button">History</div>
    <% end %>

    <%= link_to (@user) do %>
        <div class="button">Alumni</div>
    <% end %>

  </div>

<div id="letter" style="text-align: center">
  <p>As a club, we aim to develop a globally aware and socially concerned community by expanding
    students' understanding of pertinent social, economic and political issues.</p>
</div>
<br>

  <!--
  <h3 class="first-word">International Community</h3>

  <p>We boast members from all over the world with members from France, Germany, Italy, Netherlands, China,
    Hong Kong, Korea, Columbia to name a few. It is in this truely international environment that our club
    is able to flourish, allowing members to not only meet people from such diverse backgrounds but to also
    interact and discuss pressing international issues with them.</p>

  <h3 class="first-word">Award Winning Team</h3>

  <p>Despite being a relatively young team, Model UN at UCSD's competition Travel Team has been extremely
    sucessful over the years. We have won many awards in West Coast conferences such as PAXMUN, UCLAMUN,
    and FarWest. Most recently, our team boasts three Honorable Mention Awards and Outstanding Small Delegation
    from Santa Babara Model UN 2011 and an Outstanding Research Award from Orange County Model UN 2011 at UC
    Irvine.</p>

  <h3 class="first-word">Subsidized Travel</h3>

  <p>As part of the Travel Team, you will get to go to exciting places such as San Fransisco, Los Angeles, '
    Santa Barbra, Boston and New York - all of which will be subsidized by the club!</p>

  <h3 class="first-word">Community Involvement</h3>

  <p>Every year, Model UN at UCSD has held a High School Model UN conference that brings in students from
    across Southern California. The aim of the conference is to expose high school students to key
    international issues, build students' public speaking skills and help understand different political,
    social and economic perspectives. We believe that in doing so, we can create a more understanding and
    accepting generation.</p>

  <h3 class="first-word">Resume Building and Alumni Connections</h3>

  <p>Being a part of Model UN is a valuable experience. Members will learn valuable communication skills,
    negotiation skills, and teamwork skills. Many of our alumni have attested to how being Model UN has helped them get the job of their choice or get into the Grad school of their choice. </p>

  <h3 class="first-word">Great Friends</h3>

  <p>Last but not least, an important part of any club is the friendships you build. Model UN is a great
    place to meet people who share your interest and build lasting friendships.</p>-->
</div>




