- provide(:title, 'Participate')


%h1#tritonmun
  %span#main
    Participate

%div.narrow

  %div
    %p
      Travel team members are encouraged to attend meetings twice a week in preparation for an upcoming conference.
      All are welcome to attend any meetings or social events.
      %a{href: "https://www.facebook.com/ModelUnitedNationsAtUcsd"}
        Visit our facebook page for update on upcoming events.
  %br
  %h1
    GBM / Trainings:

  %table.trainings
    %tr
      %td
        Thursdays 6-8pm
      %td
        Asante Classroom B
    %tr
      %td
        Sundays 1-3pm
      %td
        Asante Classroom B

