- provide(:title, 'Participate')
.participate-cont
  %h1
    Debate other universities & become a global educator.
  %ol
    %li Email us at modelun.ucsd@gmail.com and get in touch.
    %li Come to our meetings on Thursdays 7pm-9pm or Sundays 1pm-3pm in Asante Classroom AD
    %li
      Visit our
      %a{href: "https://www.facebook.com/ModelUnitedNationsAtUcsd"}
        Facebook page
      for updates!

-#%h1#tritonmun
-#  %span#main
-#    Participate
-#
-#%div.narrow
-#  %div.even_more
-#
-#    %p{style: "font-size: 2em;"}
-#      Come to our meetings on Thursdays at 6pm or Sundays at 3pm in Asante Classroom AD
-#      %br
-#      %br
-#      Visit our
-#      %a{href: "https://www.facebook.com/ModelUnitedNationsAtUcsd"}
-#        Facebook page
-#      for updates!


  -#%h1
  -#  Travel the World
  -#%h1
  -#  Compete and Debate other Universities
  -#%h1
  -#  Become a Global Educator
  -#%h1
  -#  Make Friends
  -#%h1
  -#  Network






-#
-#
-#
-#Network (because we have so many partnerships!)(External PR)
-#United Nations Association
-#-internships
-#-attend a United Nations Session!
-#Meet Professors
-#Connect with Alumni
-#Talk with the leaders of international NGOs
-#
-#
