- provide(:title, 'Participate')


%h1#tritonmun
  %span#main
    Participate

%div.narrow
  %div.even_more
    %h1
      Travel the World (travel team)
    %h1
      Become a Global Educator (tritonMUN)
    %h1
      Make Friends (social/Internal PR)
    %h1
      Discuss Politics (IAG nights)
    %h1








Network (because we have so many partnerships!)(External PR)
United Nations Association
-internships
-attend a United Nations Session!
Meet Professors
Connect with Alumni
Talk with the leaders of international NGOs


