%h1{class:"subhead"}
  %span{id:"main"}
    Past Conferences

%div.past-cont
  %div.past-conf
    UCBMUN 2014
    %div.award
      Outstanding Dual Delegation Award
    %div.award
      Honorable Mention
    %div.award
      Best Dressed

  %div.past-conf
    SBIMUN 2013
    %div.award
      Best Delegate Award

  %div.past-conf
    SBMUN 2011
    %div.award
      Numerous Outstanding Delegate Awards
    %div.award
      Numerous Honorable Mention Awards

  %div.past-conf
    NMUN 2011
    %div.award
      Distinguished Delegation Award

  %div.past-conf
    OCMUN 2011
    %div.award
      Outstanding Research Award

  %div.past-conf
    National MUN, NY 2010
    %div.award
      Honorable Mention Award

  %div.past-conf
    UCLA 2010
    %div.award
      Best Delegate Award
    %div.award
      Numerous Outstanding Delegate Awards

  %div.past-conf
    CalMUN 2009
    %div.award
      Numerous Outstanding Delegate Awards

  %div.past-conf
    UCLA 2009
    %div.award
      Numerous Outstanding Delegate Awards

  %div.past-conf
    Far West 2009
    %div.award
      Numerous Outstanding Delegate Awards
    %div.award
      Numerous Research Awards

  %div.past-conf
    CalMUN 2008
    %div.award
      Outstanding School Delegation
    %div.award
      Numerous Outstanding Delegate Awards


  %div.past-conf
    UCLA 2008
    %div.award
      Outstanding Delegation
    %div.award
      Numerous Best Delegate Awards
    %div.award
      Numerous Outstanding Delegate Awards
    %div.award
      Numerous Commendation Awards

  %div.past-conf
    Far West 2008
    %div.award
      Numerous Outstanding Delegate Awards
    %div.award
      Numerous Research Awards

