%h1{class:"subhead"}
  %span{id:"main"}
    Past Conferences

%div.past-conf
  UCBMUN 2014

%div.past-conf
  SBIMUN 2013

%div.past-conf
  SBMUN 2011

%div.past-conf
  NMUN 2011
  %div.award
    Distinguished Delegation Award

%div.past-conf
  OCMUN 2011

%div.past-conf
  National MUN, NY 2010

%div.past-conf
  UCLA 2010

%div.past-conf
  CalMUN 2009

%div.past-conf
  UCLA 2009

%div.past-conf
  Far West 2009

%div.past-conf
  CalMUN 2008
  %div.award
    Outstanding School Delegation


%div.past-conf
  UCLA 2008
  %div.award
    Outstanding Delegation

%div.past-conf
  Far West 2008

