.column.left.small
  .module
    Here are the travel team's past conferences and the awards it received.
.column.right.big
  .module
    .title
      %span
        PAST CONFERENCES
    %div.past-cont
      %div.past-conf.sub-module.module
        UCBMUN 2014
        %div.award
          Outstanding Dual Delegation Award
        %div.award
          Honorable Mention
        %div.award
          Best Dressed

      %div.past-conf.sub-module.module
        SBIMUN 2013
        %div.award
          Best Delegate Award

      %div.past-conf.sub-module.module
        SBMUN 2011
        %div.award
          Numerous Outstanding Delegate Awards
        %div.award
          Numerous Honorable Mention Awards

      %div.past-conf.sub-module.module
        NMUN 2011
        %div.award
          Distinguished Delegation Award

      %div.past-conf.sub-module.module
        OCMUN 2011
        %div.award
          Outstanding Research Award

      %div.past-conf.sub-module.module
        National MUN, NY 2010
        %div.award
          Honorable Mention Award

      %div.past-conf.sub-module.module
        UCLA 2010
        %div.award
          Best Delegate Award
        %div.award
          Numerous Outstanding Delegate Awards

      %div.past-conf.sub-module.module
        CalMUN 2009
        %div.award
          Numerous Outstanding Delegate Awards

      %div.past-conf.sub-module.module
        UCLA 2009
        %div.award
          Numerous Outstanding Delegate Awards

      %div.past-conf.sub-module.module
        Far West 2009
        %div.award
          Numerous Outstanding Delegate Awards
        %div.award
          Numerous Research Awards

      %div.past-conf.sub-module.module
        CalMUN 2008
        %div.award
          Outstanding School Delegation
        %div.award
          Numerous Outstanding Delegate Awards


      %div.past-conf.sub-module.module
        UCLA 2008
        %div.award
          Outstanding Delegation
        %div.award
          Numerous Best Delegate Awards
        %div.award
          Numerous Outstanding Delegate Awards
        %div.award
          Numerous Commendation Awards

      %div.past-conf.sub-module.module
        Far West 2008
        %div.award
          Numerous Outstanding Delegate Awards
        %div.award
          Numerous Research Awards

