<% provide(:title, 'About Us') %>


<h1 id="tritonmun"><span id="main">Secretariat</span></h1>


<div class="main_cont">
  <div id="buttonBox">

    <%= link_to (about_path) do %>
        <div class="button">Club Overview</div>
    <% end %>

    <%= link_to (secretariat_path) do %>
        <div class="current button">Secretariat</div>
    <% end %>

    <%= link_to (history_path) do %>
        <div class="button">History</div>
    <% end %>

    <%= link_to (alumni_path) do %>
        <div class="button">Alumni</div>
    <% end %>

  </div>


  <!------------------------------------------------------------>


  <div class="bio-box">

      <div class="photo">
        <img class="bio-photo" src="assets/default_avatar.png" />
      </div>

      <div class="bio-right">
          <div class="bio-header">
              <div class="position">President</div>
              <div class="name">Marvin Andrade</div>
              <div class="college">Eleanor Roosevelt College</div>
              <div class="major">International Studies: Economics and Political Science</div>
          </div>


          <div class="bio">
              Model United Nations has offered me the opportunity to apply my education into something that I am truly passionate
              about.  When I travel and compete, I am given the unique opportunity to step into the shoes of an individual who
              has completely divergent views from my own and practice the art of speaking in a diplomatic manner.  As a chair,
              I can design a committee around a topic that interests me and I can listen to the positions of younger students who
              have worked hard and researched their country's policy.  As the President of Model United Nations at UCSD, I am
              fortunate to work with such a skillful team with a passion for what they do.  Whenever I'm not doing something
              with MUN, I am lounging around at the beach, playing video games, or traveling to new places.
          </div>
        </div>
  </div>

  <!------------------------------------------------------------>


  <div class="bio-box">

    <div class="photo">
      <img class="bio-photo" src="assets/default_avatar.png" />
    </div>

    <div class="bio-right">
      <div class="bio-header">
        <div class="position">Undersecretary General of Model UN at UCSD</div>
        <div class="name">Reilly Hurley</div>
        <div class="college">Eleanor Roosevelt College</div>
        <div class="major">Political Science</div>
      </div>


      <div class="bio">
        As vice president I am mainly in charge of helping the President, keeping track of minutes during Secretariat
        meetings, and doing odd jobs for the club.  I am also required to be ready to fill the role of President
        should the need arise.  A little bit about myself, I am a third year political science major, specializing
        in political theory and policy analysis.  My passion for MUN began in high school, where I helped keep my
        high school MUN club afloat.  At the collegiate level, it has been my pleasure to attend a number of conferences
        on behalf of UC San Diego, and to have chaired several committees at the annual spring and fall conferences.
        I am passionate about expanding the club, and making it more competitive.  Besides this, I am an associated
        with the UN Human Rights Council by my connection to the NGO, Humanitarian Lawyers and, International
        Educational Development.  I enjoy debating  foreign affairs, and global issues.  I am also a fanatical reader
        of fantasy literature, and a  lover of old and archaic card games.
      </div>
    </div>
  </div>

  <!------------------------------------------------------------>


  <div class="bio-box">

    <div class="photo">
      <img class="bio-photo" src="assets/default_avatar.png" />
    </div>

    <div class="bio-right">
      <div class="bio-header">
        <div class="position">Under-Secretary General of Public Relations</div>
        <div class="name">Ashraf Beshay</div>
        <div class="college">Eleanor Roosevelt College</div>
        <div class="major">Human Biology</div>
      </div>


      <div class="bio">
        As the Under-Secretary General of Public Relations, I serve to connect MUN
        to the UC San Diego community. I am responsibly for tabling at major
        events, finding ways to bring in funding, creating different forms of
        advertisement for the club, and increasing membership and retention rates.
        I am a second year, pre-med student hailing from Cairo, Egypt who wants to
        become a heart surgeon one day. I enjoy playing soccer, watching TV shows,
        being involved in my community through many organizations, and spending
        time with friends and family.
      </div>
    </div>
  </div>

  <!------------------------------------------------------------>


  <div class="bio-box">

    <div class="photo">
      <img class="bio-photo" src="assets/default_avatar.png" />
    </div>

    <div class="bio-right">
      <div class="bio-header">
        <div class="position">Undersecretary-General of Internal Public Relations</div>
        <div class="name">Lilia Stone</div>
        <div class="college">Thurgood Marshall College</div>
        <div class="major">International Studies-Political Science</div>
      </div>


      <div class="bio">
        This year I have the honor of serving as the Undersecretary of Internal
        Public Relations. Under my Public Relations position, I am responsible for
        planning lively and interactive events for club members. I am currently a
        Senior studying International Studies with an emphasis in Political
        Science. Additionally, I am working with the Center of Global Justice on
        the BLUM cross border initiative as an intern. After graduation, I would
        like to pursue immigration law. In my free time, I enjoy backpacking,
        running, traveling, and dancing. I look forward to starting my position
        and am excited for what this year will bring us.
      </div>
    </div>
  </div>

  <!------------------------------------------------------------>


  <div class="bio-box">

    <div class="photo">
      <img class="bio-photo" src="assets/default_avatar.png" />
    </div>

    <div class="bio-right">
      <div class="bio-header">
        <div class="position">Director of Travel</div>
        <div class="name">Zoe Cheung </div>
        <div class="college">Eleanor Roosevelt College</div>
        <div class="major">History and International Studies, Sociology </div>
      </div>


      <div class="bio">
        I am currently a third year studying History and International Studies with a focus a Sociology from Hong Kong.
        As next year's Director of Travel, I look forward to bringing members to conferences at different cities
        that will not only challenge their diplomatic and debating skills but create friendships that will last
        a lifetime. My biggest hobby is to travel and my position at Model United Nations enables me to convey the same
        sort of excitement to new and existing members. Model United Nations at UCSD has not only become my second
        family but a great way of understanding the changing world around us.
      </div>
    </div>
  </div>

  <!------------------------------------------------------------>
  <!--
  <h3 class="first-word">International Community</h3>

  <p>We boast members from all over the world with members from France, Germany, Italy, Netherlands, China,
    Hong Kong, Korea, Columbia to name a few. It is in this truely international environment that our club
    is able to flourish, allowing members to not only meet people from such diverse backgrounds but to also
    interact and discuss pressing international issues with them.</p>

  <h3 class="first-word">Award Winning Team</h3>

  <p>Despite being a relatively young team, Model UN at UCSD's competition Travel Team has been extremely
    sucessful over the years. We have won many awards in West Coast conferences such as PAXMUN, UCLAMUN,
    and FarWest. Most recently, our team boasts three Honorable Mention Awards and Outstanding Small Delegation
    from Santa Babara Model UN 2011 and an Outstanding Research Award from Orange County Model UN 2011 at UC
    Irvine.</p>

  <h3 class="first-word">Subsidized Travel</h3>

  <p>As part of the Travel Team, you will get to go to exciting places such as San Fransisco, Los Angeles, '
    Santa Barbra, Boston and New York - all of which will be subsidized by the club!</p>

  <h3 class="first-word">Community Involvement</h3>

  <p>Every year, Model UN at UCSD has held a High School Model UN conference that brings in students from
    across Southern California. The aim of the conference is to expose high school students to key
    international issues, build students' public speaking skills and help understand different political,
    social and economic perspectives. We believe that in doing so, we can create a more understanding and
    accepting generation.</p>

  <h3 class="first-word">Resume Building and Alumni Connections</h3>

  <p>Being a part of Model UN is a valuable experience. Members will learn valuable communication skills,
    negotiation skills, and teamwork skills. Many of our alumni have attested to how being Model UN has helped them get the job of their choice or get into the Grad school of their choice. </p>

  <h3 class="first-word">Great Friends</h3>

  <p>Last but not least, an important part of any club is the friendships you build. Model UN is a great
    place to meet people who share your interest and build lasting friendships.</p>-->
</div>




