- provide(:title, 'Secretariat')
.column.full
  .module
    .title
      %span
        Secretariat
    = render partial: 'static_pages/secretariat_member', collection: User.secretariat_members, as: 'sec'

    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position President
    -#      .name Marvin Andrade
    -#      .college Eleanor Roosevelt College
    -#      .major International Studies: Economics and Political Science
    -#    .bio
    -#      Model United Nations has offered me the opportunity to apply my education into something that I am truly passionate
    -#      about.  When I travel and compete, I am given the unique opportunity to step into the shoes of an individual who
    -#      has completely divergent views from my own and practice the art of speaking in a diplomatic manner.  As a chair,
    -#      I can design a committee around a topic that interests me and I can listen to the positions of younger students who
    -#      have worked hard and researched their country's policy.  As the President of Model United Nations at UCSD, I am
    -#      fortunate to work with such a skillful team with a passion for what they do.  Whenever I'm not doing something
    -#      with MUN, I am lounging around at the beach, playing video games, or traveling to new places.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Vice President
    -#      .name Reilly Hurley
    -#      .college Eleanor Roosevelt College
    -#      .major Political Science
    -#    .bio
    -#      As Vice President I am mainly in charge of helping the President, keeping track of minutes during Secretariat
    -#      meetings, and doing odd jobs for the club.  I am also required to be ready to fill the role of President
    -#      should the need arise.  A little bit about myself, I am a third year political science major, specializing
    -#      in political theory and policy analysis.  My passion for MUN began in high school, where I helped keep my
    -#      high school MUN club afloat.  At the collegiate level, it has been my pleasure to attend a number of conferences
    -#      on behalf of UC San Diego, and to have chaired several committees at the annual spring and fall conferences.
    -#      I am passionate about expanding the club, and making it more competitive.  Besides this, I am an associated
    -#      with the UN Human Rights Council by my connection to the NGO, Humanitarian Lawyers and, International
    -#      Educational Development.  I enjoy debating  foreign affairs, and global issues.  I am also a fanatical reader
    -#      of fantasy literature, and a  lover of old and archaic card games.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Chief of Staff
    -#      .name Erin McKey
    -#      .college John Muir College
    -#      .major Management Science
    -#    .bio
    -#      I love dealing with numbers and as Chief of Staff, I make sure the club
    -#      applies for the appropriate funding.
    -#      I also help by organizing and operating fundraisers. I make sure that the
    -#      funds are used for travel and for conferences, as needed. I am currently a
    -#      fourth year, finishing minors in Chinese Studies and Business. After I
    -#      graduate, I hope to work in the finance industry whether it be in
    -#      stocks/bonds or banking. In my free time, I volunteer at the local animal
    -#      shelter, teach swim lessons to all ages and nap. I also love to read
    -#      Economist articles and watch the TV series Big Bang Theory.
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Secretary General of TritonMUN
    -#      .name Megan Difley
    -#      .college Sixth College
    -#      .major Cognitive Science/Neuroscience
    -#    .bio
    -#      As Secretary General, I am responsible for running the Fall and Spring home conferences. I love event planning,
    -#      and I believe events that involve debating international issues help us dive into the dynamics of the world.
    -#      I am currently a fourth year, finishing my minor in Health Care and Social Issues. After I graduate I hope
    -#      to be working on the operations side of hospital management and learning all I can about how health care is
    -#      distributed. In my free time, I work at the Veterans Medical Research Foundation studying the usage of
    -#      Electronic Medical Records. I also love camping, skiing, hiking and visiting national parks with my family.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Director of Travel
    -#      .name Zoe Cheung
    -#      .college Eleanor Roosevelt College
    -#      .major History and International Studies, Sociology
    -#    .bio
    -#      I am currently a third year studying History and International Studies with a focus a Sociology from Hong Kong.
    -#      As next year's Director of Travel, I look forward to bringing members to conferences at different cities
    -#      that will not only challenge their diplomatic and debating skills but create friendships that will last
    -#      a lifetime. My biggest hobby is to travel and my position at Model United Nations enables me to convey the same
    -#      sort of excitement to new and existing members. Model United Nations at UCSD has not only become my second
    -#      family but a great way of understanding the changing world around us.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Undersecretary General of Training
    -#      .name Reina Ishii
    -#      .college Eleanor Roosevelt College
    -#      .major General Chemistry
    -#    .bio
    -#      I’m a second year ERC student with a major in General Chemistry and minor in French Literature. Born and raised
    -#      in Memphis, TN, but ended up in the San Diego sun. I have been a part of Model UN since my second year of
    -#      high school and decided to stick with it ever since. I have chaired for three years, including two years in
    -#      TritonMUN, and have attended various conferences. When not being piled with MUN things to do, I enjoy spending
    -#      time with friends and fellow secretariat members, travelling, and getting to know people of different
    -#      ethnicities and interests.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Undersecretary General of External Public Relations
    -#      .name Ashraf Beshay
    -#      .college Eleanor Roosevelt College
    -#      .major Human Biology
    -#    .bio
    -#      As the Undersecretary General of External Public Relations, I serve to connect MUN
    -#      to the UC San Diego community. I am responsibly for tabling at major
    -#      events, finding ways to bring in funding, creating different forms of
    -#      advertisement for the club, and increasing membership and retention rates.
    -#      I am a second year, pre-med student hailing from Cairo, Egypt who wants to
    -#      become a heart surgeon one day. I enjoy playing soccer, watching TV shows,
    -#      being involved in my community through many organizations, and spending
    -#      time with friends and family.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Undersecretary General of Internal Public Relations
    -#      .name Lilia Stone
    -#      .college Thurgood Marshall College
    -#      .major International Studies/Political Science
    -#    .bio
    -#      This year I have the honor of serving as the Undersecretary of Internal
    -#      Public Relations. Under my Public Relations position, I am responsible for
    -#      planning lively and interactive events for club members. I am currently a
    -#      Senior studying International Studies with an emphasis in Political
    -#      Science. Additionally, I am working with the Center of Global Justice on
    -#      the BLUM cross border initiative as an intern. After graduation, I would
    -#      like to pursue immigration law. In my free time, I enjoy backpacking,
    -#      running, traveling, and dancing. I look forward to starting my position
    -#      and am excited for what this year will bring us.
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Webdeveloper
    -#      .name Andrew Simon
    -#      .college Sixth College
    -#      .major Computer Science
    -#    .bio
    -#      I am a web designer and developer with a passion for graphic design and software-user experience. When I'm not
    -#      defending the goal for the UCSD lacrosse team, you can find find me working on my team management web-app,
    -#      pretending to be a culinary genius, or hiking around San Diego. If you have any questions about the website or
    -#      other work that I have done, please send me an email at
    -#      = succeed "." do
    -#        %span.email asimon@ucsd.edu
    -#
    -#.bio-box
    -#  .photo
    -#    %img.bio-photo{:src => "assets/default_avatar.png"}/
    -#  .bio-right
    -#    .bio-header
    -#      .position Webmaster
    -#      .name Anusha Varadharajan
    -#      .college Eleanor Roosevelt College
    -#      .major Computer Science
    -#    .bio
    -#      I am currently a third year at UCSD and after graduation I plan on working for Google, Apple, Microsoft,
    -#      Facebook, etc. I started programming at an early age and ever since then I have enjoyed how a couple
    -#      lines of code can actually make a huge difference in some of things we have today. Think of your favorite
    -#      game app on your phone, now think about how 500 lines of code can make your time so enjoyable. Similarly,
    -#      I want to develop software which can change people's lives - whether it's for entertainment or for a social
    -#      cause. Some of my hobbies include reading and dancing. I also enjoy traveling to new places and learning
    -#      about different cultures.
    -#
    -#  -#<h3 class="first-word">International Community</h3>
    -#  -#
    -#  -#<p>We boast members from all over the world with members from France, Germany, Italy, Netherlands, China,
    -#  -#Hong Kong, Korea, Columbia to name a few. It is in this truely international environment that our club
    -#  -#is able to flourish, allowing members to not only meet people from such diverse backgrounds but to also
    -#  -#interact and discuss pressing international issues with them.</p>
    -#  -#
    -#  -#<h3 class="first-word">Award Winning Team</h3>
    -#  -#
    -#  -#<p>Despite being a relatively young team, Model UN at UCSD's competition Travel Team has been extremely
    -#  -#sucessful over the years. We have won many awards in West Coast conferences such as PAXMUN, UCLAMUN,
    -#  -#and FarWest. Most recently, our team boasts three Honorable Mention Awards and Outstanding Small Delegation
    -#  -#from Santa Babara Model UN 2011 and an Outstanding Research Award from Orange County Model UN 2011 at UC
    -#  -#Irvine.</p>
    -#  -#
    -#  -#<h3 class="first-word">Subsidized Travel</h3>
    -#  -#
    -#  -#<p>As part of the Travel Team, you will get to go to exciting places such as San Fransisco, Los Angeles, '
    -#  -#Santa Barbra, Boston and New York - all of which will be subsidized by the club!</p>
    -#  -#
    -#  -#<h3 class="first-word">Community Involvement</h3>
    -#  -#
    -#  -#<p>Every year, Model UN at UCSD has held a High School Model UN conference that brings in students from
    -#  -#across Southern California. The aim of the conference is to expose high school students to key
    -#  -#international issues, build students' public speaking skills and help understand different political,
    -#  -#social and economic perspectives. We believe that in doing so, we can create a more understanding and
    -#  -#accepting generation.</p>
    -#  -#
    -#  -#<h3 class="first-word">Resume Building and Alumni Connections</h3>
    -#  -#
    -#  -#<p>Being a part of Model UN is a valuable experience. Members will learn valuable communication skills,
    -#  -#negotiation skills, and teamwork skills. Many of our alumni have attested to how being Model UN has helped them get the job of their choice or get into the Grad school of their choice. </p>
    -#  -#
    -#  -#<h3 class="first-word">Great Friends</h3>
    -#  -#
    -#  -#<p>Last but not least, an important part of any club is the friendships you build. Model UN is a great
    -#  -#place to meet people who share your interest and build lasting friendships.</p>