%h1#tritonmun
  %span#main
    Training

%div#all
  %div#buttonBox
    %a{href: "/travelteam/training"}
      %div.button
        Training



  %div.narrow
    %div.even_more{style: "text-align: left"}
      %p
        When: 6-8pm Thursdays, 1-3pm Sundays
        %br
        Where: Asante 123 AD, International House
      %p
        Trainings vary each week, and are open to the public. They can consist of anything, from MUN simulations to public speaking games, UN jeopardy or fantasy crises. Our Director of Training, Reina Ishii, is dedicated to offering the most rewarding experience and would love to hear your thoughts on how to best prepare for a conference or learn new skills. She loves strong coffee, getting to know you, and kicking you into high gear. Whether it’s a fresh look at your research paper, or a boost of confidence, our Director of Training helps everyone in their own way.
      %p
        To find out more, email modelun@ucsd.edu