<% provide(:title, 'Travel Team') %>


<h1 id="tritonmun"><span id="main">Travel Team</span></h1>

<div id="all">
<div id="buttonBox">
  <a href="#"><div class="button">Resources</div></a>
  <a href="/travelteam/training"><div class="button">Training</div></a>


</div>





<h1 class="subhead"><span id="main">Upcoming Conferences</span></h1>
  <div id="confs">



    <!--
    <div class="innerRom">

      <h2 class="lowerhead"><span>Fall 2014</span></h2>
      <a href="#"><div class="romanBox">UCLA X</div></a>
    </div>

    <div class="innerRom">

      <h2 class="lowerhead"><span>Winter 2014-15</span></h2>
      <a href="#"><div class="romanBox">Chicago XII</div></a>
    </div>

    <div class="innerRom">

      <h2 class="lowerhead"><span>Spring 2015</span></h2>
      <a href="#"><div class="romanBox">Harvard IIX</div></a>

-->


  </div>
  </div>





