<div id="apply-now">
  <h2>COMPETE WITH THE TEAM</h2>
  <a href="https://docs.google.com/forms/d/1E-nQXT6Od2sWaDKWiyYUo0PfiNMwT9SQ5ZyWSRp83LY/viewform?usp=send_form">
    <div class="apply">
      Apply Now!
    </div>
  </a>
</div>


<h1 class="subhead"><span id="main">Overview</span></h1>


<div id="trav-dates">
  <h2>Important Dates</h2>

  <table>
    <tr>
      <td>Oct. 2nd</td>
      <td>Info Session</td>
    </tr>
    <tr>
      <td>Oct. 11th</td>
      <td>Info Session</td>
    </tr>
    <tr>
      <td>Oct. 12th</td>
      <td>Info Session</td>
    </tr>
    <tr>
      <td>Nov. 1st</td>
      <td>Info Session</td>
    </tr>
    <tr>
      <td>Nov. 7th~9th</td>
      <td>Info Session</td>
    </tr>
    <tr>
      <td>Nov. 20th & 23rd</td>
      <td>Info Session</td>
    </tr>
  </table>


</div>

<div id="trav-con">
  <h2>Contact the Team</h2>
      <div id="inner">
        <div class="person">
          <ul>
            <li class="name">Zoe Cheung</li>
            <li class="pos">Director of Travel</li>
            <li><span class="email_address">zoecheung59@gmail</span></li>
          </ul>
        </div>

        <div class="person">
          <ul>
            <li class="name">Reina Ishii</li>
            <li class="pos">Under-Secretary General of Training</li>
            <li><span class="email_address">rishii@ucsd.edu</span></li>
          </ul>
        </div>

        <div class="person">
          <ul>
            <li class="name">Pichaporn Kanjanakantorn</li>
            <li class="pos">Deputy Under-Secretary General of Training</li>
            <li><span class="email_address">pkanjana@ucsd.edu</span></li>
          </ul>
        </div>

      <div class="person">
        <ul>
            <li class="name">Ben Salter</li>
            <li class="pos">Deputy Under-Secretary General of Training</li>
            <li><span class="email_address">bsalter@ucsd</span></li>
        </ul>
      </div>
  </div>
</div>

