<% provide(:title, 'TritonMUN') %>


<h1 id="tritonmun"><span id="main">TritonMUN</span></h1>


<div id="letter">
  <p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
  ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
  tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  </p>

  <div id="by"><span>&mdash;Megan Difley</span></div>
</div>

<div id="tmun1">
    <div class="innerRom">

      <h2 class="lowerhead"><span>Fall</span></h2>

      <%= link_to( hconference.first() ) do %>
          <div class="romanBox">hconference.first().name</div>
      <% end %>
    </div>

  <div class="innerRom">

    <h2 class="lowerhead"><span>Spring</span></h2>
    <a href="#"><div class="romanBox">XI</div></a>


  </div>


</div>






