

<% provide(:title, 'Travel Team') %>



<h1 class="subhead"><span id="main">Upcoming Conferences</span></h1>
  <div class="upcoming-cont">
    <div class="outer">
    <div class="upcoming"><!--<h1 class="subhead"><span id="main">Upcoming Conferences</span></h1>-->
      <div id="trav1">
        <div class="innerRom">

          <div class="trav_cont">
                  <h2 class="lowerhead"><span><i class="flaticon-autumn1"></i> Fall 2014</span></h2>

                  <a href="/tritonmun/X"><div class="romanBox disabled">TritonMUN X</div></a>
                  <div class="desc">
                    <div class="title">
                      TritonMUN X Fall High School Conference
                    </div>
                    <div class="details">
                      November 1, 2014<br>
                      <a style="text-decoration: underline; color: #fffd00;" href="https://docs.google
                      .com/forms/d/1b9KIyqVBj1SntUnyCgYXM_E5km5Zgn0OQFFluKWh8pg/viewform">
                        Apply</a> to be on the Dais, Crisis Staff, or Organizing Committee!<br>
                    </div>
                    <span class="email_address">tritonmun.ucsd@gmail.com</span>
                      <!--Learn more: https://docs.google.com/document/d/1vZA4ELijAovqtCjM6C7ZfivcIHpXJmWrgzSn95JfaaI/edit-->
                  </div>
          </div>

          <div class="trav_cont">
            <a href="http://www.sbmun.org/committees.html"><div class="romanBox disabled">SBIMUN</div></a>
              <div class="desc">
                <div class="title">
                  UC Santa Barbara Intercollegiate Model United Nations Conference
                </div>
                <div class="details">
                  November 7-9, 2014<br>
                  Santa Barbara, CA
                </div>
                <!--Learn more: https://docs.google.com/document/d/1vZA4ELijAovqtCjM6C7ZfivcIHpXJmWrgzSn95JfaaI/edit-->
              </div>
          </div>



        </div>

        <div class="innerRom">

          <div class="trav_cont">
            <h2 class="lowerhead"><span><i class="flaticon-snowflake"></i>  Winter 2015</span></h2>

            <a href="http://davismun.org/committees/"><div class="romanBox disabled">Aggie MUN</div></a>
            <div class="desc">
              <div class="title">
                UC Davis Collegiate Conference
              </div>
              <div class="details">
                January 23-25, 2015<br>
                The Citizen Hotel, Downtown Sacramento
              </div>
              <!--Learn more: https://docs.google.com/document/d/1vZA4ELijAovqtCjM6C7ZfivcIHpXJmWrgzSn95JfaaI/edit-->
            </div>
          </div>

          <div class="trav_cont">
            <div class="romanBox disabled">UCSD Scrimmage</div>
            <div class="desc">
              <div class="title">
                UC San Diego Model UN Scrimmage
              </div>
              <div class="details">
                February (TBA)<br>
                International House, UC San Diego
              </div>
              <!--Learn more: https://docs.google.com/document/d/1vZA4ELijAovqtCjM6C7ZfivcIHpXJmWrgzSn95JfaaI/edit-->
            </div>
          </div>


          <div class="trav_cont">

            <a href="http://www.ucbmun.org/committees.php"><div class="romanBox disabled">UCBMUN</div></a>
            <div class="desc">
              <div class="title">
                UC Berkeley Collegiate Conference
              </div>
              <div class="details">
                February 28 - March 4, 2015<br>
                The Hilton, San Francisco
              </div>
              <!--Learn more: https://docs.google.com/document/d/1vZA4ELijAovqtCjM6C7ZfivcIHpXJmWrgzSn95JfaaI/edit-->
            </div>
          </div>

        </div>

        <div class="innerRom">

          <div class="trav_cont">
            <h2 class="lowerhead"><span><i class="flaticon-flower18"></i> Spring 2015</span></h2>
            <div class="desc">
              <div class="title">
                <em>TBA</em>
              </div>
              <div class="details">
                Spring 2015 travel conferences will be announced at a future date.
              </div>
              <!--Learn more: https://docs.google.com/document/d/1vZA4ELijAovqtCjM6C7ZfivcIHpXJmWrgzSn95JfaaI/edit-->
            </div>
          </div>


        </div>



      </div>
      <!--<a href="" class="past-confs">view past conferences</a>-->
    </div>
      </div>
  </div>
