

<%= render 'static_pages/tmun_conf_head' %>


<!--

render season, year here

-->

<h2 id="season">Fall 2014</h2>

<div class="conf_cont">

  <div id="buttonBox">
    <a href="/committees"><div class="button">Committees</div></a>
    <a href="/staff"><div class="button">Staff</div></a>
    <a href="/register"><div class="button" id="register">Register</div></a>
  </div>


  <div class="outer">
    <div class="innerBox">
      <ul>
        <li>Date: October 25th, 2014</li>
        <li>Location: University of California, San Diego</li>
        <li>Price: $24 / delegate</li>
      </ul>
    </div>
    <div class="innerBox">
      fdkgjfdl gkdjfg lkdfjg ldkfgj dlfkgj dlfkgj ;dflkgj df;lgk jdf;gkl jdf;lgk jdf;lgkj df;lgkj d;flgkj d;flgk
    </div>
  </div>





</div>