.sdimun-splash-cont
  = image_tag 'sdimun-logo1.png', class: 'sdimun-logo'
  = link_to Cconference.last do
    .more-button
      LEARN MORE
-#.introducing
-#  .big
-#    Introducing
-#    %span
-#      SDIMUN
-#  .small San Diego Intercollegiate MUN Scrimmage
-#
-#  = link_to Cconference.last do
-#    %span.learn LEARN MORE