= parent_layout "application" do
  %h1#tritonmun
    %span#main
      SDIMUN

  .introducing
    .big
      Introducing
      %span
        SDIMUN
    .small San Diego Intercollegiate MUN Scrimmage

    = link_to Cconference.last do
      %span.learn LEARN MORE