.column.small.left
  .module.upcoming
    .title
      %span
        UPCOMING CONFERENCE
    = render Tconference.first
  -#  .title
  -#    %span
  -#      NEXT CONFERENCE
  -#.admin-container
  -#  = link_to 'javascript:;' do
  -#    .clicker A
  -#  %ul.admin-list
  -#    %li
  -#      = link_to '#', class: "admin-link" do
  -#        .admin-line
  -#          .icon
  -#            = image_tag 'admin-icons/edit.png'
  -#          .words
  -#            Edit branch
  -#    %li
  -#      = link_to '#', class: "admin-link" do
  -#        .admin-line
  -#          .icon
  -#            = image_tag 'admin-icons/delete.png'
  -#          .words
  -#            Destroy branch
  -#    %li
  -#      = link_to '#', class: "admin-link" do
  -#        .admin-line
  -#          .icon
  -#            = image_tag 'admin-icons/headline.png'
  -#          .words
  -#            Manage headlines
  -#    %li
  -#      = link_to '#', class: "admin-link" do
  -#        .admin-line
  -#          .icon
  -#            = image_tag 'admin-icons/schedule.png'
  -#          .words
  -#            Manage schedules
    = render Tconference.first
  .module
    .title
      %span
        BRANCH SCHEDULES
    .content#important
      = render partial: 'schedules/branch_schedule', collection: @branch.schedules, as: 'schedule', locals: {parent: @branch, conf: "false", parent_name: @branch.class.name.demodulize.downcase}
      -#%table
      -#  %tr
      -#    %td
      -#      Feb. 23
      -#    %td
      -#      ;fkldjasdlf kjasdflk jasd;flk j
      -#  %tr
      -#    %td
      -#      Feb. 23
      -#    %td
      -#      ;fkldjasdlf kjasdflk jasd;flk j
      -#  %tr
      -#    %td
      -#      Feb. 23
      -#    %td
      -#      ;fkldjasdlf kjasdflk jasd;flk j
      -#  %tr
      -#    %td
      -#      Feb. 23
      -#    %td
      -#      ;fkldjasdlf kjasdflk jasd;flk j
  .module
    .title
      %span
        GET IN TOUCH
    .content#get
      travelingtritons@gmail.com
.column.big.right
  .module
    .title
      %span
        ANNOUNCEMENTS
    .content#announcements
      -#.announcement-cont.sub-module.module
      -#  %h2
      -#    Apply to be on the committee thing
      -#  .body
      -#    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nibh mi, id lacinia sem euismod bibendum. Pellentesque venenatis mi in aliquam tincidunt. Duis purus mauris, bibendum nec nunc a, sollicitudin maximus tellus. Sed consectetur rhoncus fermentum. Quisque ut quam ligula. Duis pharetra efficitur aliquet. Cras rutrum urna enim. Duis eu molestie elit, ac dapibus mi. Nullam augue sapien, malesuada eu finibus sit amet, venenatis sit amet turpis.
      -#.announcement-cont.sub-module.module
      -#  %h2
      -#    Apply to be on the committee thing
      -#  .body
      -#    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nibh mi, id lacinia sem euismod bibendum. Pellentesque venenatis mi in aliquam tincidunt. Duis purus mauris, bibendum nec nunc a, sollicitudin maximus tellus. Sed consectetur rhoncus fermentum. Quisque ut quam ligula. Duis pharetra efficitur aliquet. Cras rutrum urna enim. Duis eu molestie elit, ac dapibus mi. Nullam augue sapien, malesuada eu finibus sit amet, venenatis sit amet turpis.
      -#.announcement-cont.sub-module.module
      -#  %h2
      -#    Apply to be on the committee thing
      -#  .body
      -#    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nibh mi, id lacinia sem euismod bibendum. Pellentesque venenatis mi in aliquam tincidunt. Duis purus mauris, bibendum nec nunc a, sollicitudin maximus tellus. Sed consectetur rhoncus fermentum. Quisque ut quam ligula. Duis pharetra efficitur aliquet. Cras rutrum urna enim. Duis eu molestie elit, ac dapibus mi. Nullam augue sapien, malesuada eu finibus sit amet, venenatis sit amet turpis.
      -#.announcement-cont.sub-module.module
      -#  %h2
      -#    Apply to be on the committee thing
      -#  .body
      -#    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales nibh mi, id lacinia sem euismod bibendum. Pellentesque venenatis mi in aliquam tincidunt. Duis purus mauris, bibendum nec nunc a, sollicitudin maximus tellus. Sed consectetur rhoncus fermentum. Quisque ut quam ligula. Duis pharetra efficitur aliquet. Cras rutrum urna enim. Duis eu molestie elit, ac dapibus mi. Nullam augue sapien, malesuada eu finibus sit amet, venenatis sit amet turpis.