- provide(:title, 'All Conferences')
- provide(:title, 'TritonMUN')

= parent_layout "application" do
  %h1#tritonmun
    %span#main
      TritonMUN
  .upcoming-cont
    #tmun1
      .innerRom
        %h2.lowerhead
          %span
            %i.flaticon-flower18
            Spring 2015
        %a{:href => "/hconferences/XI"}
          .romanBox XI
  / <a href="" class="past-confs">view past conferences</a>
  %div.letter-cont
    #letter
      %p Honorable Delegates and Advisers,
      %p
        Welcome to the eleventh session of Triton Model United Nations, Spring 2015. This year's
        conference will be hosted at Price Center on the University of California, San Diego campus from Saturday, April 25th to Sunday, April 26th, 2015.
      %p Our conference has grown rapidly in previous years, so we are excited to announce the expansion of committees to a total of twelve. Along with our General Assembly and specialized committees, we are eagerly anticipating a European Union committee and the return of our fast-paced joint crisis committees. The aim of these committees is to foster diplomacy among delegates by blending a diversity of ideas into comprehensive and farsighted solutions. These solutions will be reached through tactful debate by molding idealistic goals into realistic strategies.
      %p Our Chairs are looking forward to discussing the complexities of international issues, with emphasis on excellence in research, critical analysis and creative problem solving. We will be hosting a guest speaker in each committee who specializes in the topic to offer delegates their realm of experience when evaluating the multifaceted nature of their topics. The guest speakers range from activists in San Diego’s United Nations Association, to distinguished researchers and internationally focused professionals.
      %p
        Registration is now
        = succeed "!" do
          %a{:href => "http://goo.gl/forms/t1JlnCYcU9"} open
      %p Warmest regards,
      %p
        Andrew Muse-Fisher
        %br/
        Under-Secretary General
      %p
        Megan Difley
        %br/
        Secretary General
    %div.photo
      = image_tag 'meg-scooter.jpg'