%h1{class:"subhead"}
  %span{id:"main"}
    Manage Branches

%div.admin-items-cont
  - @branches.each do |branch|
    %div.item
      %span.name
        = branch.name
      %br/
      = link_to 'Edit', edit_branch_path(branch), class: "admin-link"
      = link_to 'Destroy', branch, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link"

%br

= link_to 'New Branch', new_branch_path, class: 'admin-link'
