%p#notice= notice


- if @branch.name == "tritonmun"
  = render partial: 'tritonmun'
- elsif @branch.name == "travelteam"
  = render partial: 'travelteam'
- elsif @branch.name == "sdimun"
  = render partial: 'branches/sdimun'