- content_for :javascripts do
  = javascript_include_tag "users_show.js.erb"

%div.narrow
  %div.even-more



    -#= render @badges


    %h1 New badge

    = render 'form'

    = link_to 'Back', badges_path
