<div class="badge" id="travel_team"><span>X</span></div>
<div class="badge" id="home_conf"><span>XI</span></div>
<div class="badge" id="travel_team"><span>XII</span></div>
<div class="badge" id="travel_team"><span>XIII</span></div>
<div class="badge" id="travel_team"><span>T</span></div>
<div class="badge" id="travel_team"><span>T</span></div>
<div class="badge" id="travel_team"><span>T</span></div>




