<h1 id="tritonmun"><span id="main">Admin Tools</span></h1>

<ul class="ad">
  <li>
    <%= link_to((users_path)) do %>
        <span class="admin" > Manage users</span>
    <% end %>
  </li>

  <li>
    <%= link_to((tconferences_path), style: "color: white") do %>
        <span class="admin" > Manage travel conferences</span>
    <% end %>
  </li>

  <li>
    <%= link_to((hconference_all_path), style: "color: white") do %>
      <span class="admin" > Manage home conferences</span>
    <% end %>
  </li>

  <li>
    <%= link_to((frontpages_path)) do %>
        <span class="admin" >Manage frontpage</span>
    <% end %>
  </li>


</ul>