<ol class="ad">
  <li>
    <span class="admin" >
    <%= link_to "View all users", (users_path), style: "color: white"%>
    </span>
  </li>

  <li>
    <span class="admin" >
    <%= link_to "Add new home conference", (new_hconference_path), style: "color: white"%>
    </span>
  </li>




</ol>