<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<!--
 <#%= collection_select_tag(:user, :role, User.all,
                         :id, :role, {}, {:name=>'user_filter'}) %>

-->

<ul class="users">

  <%= render @users %>
</ul>

<%= will_paginate %>