<% provide(:title, 'All users') %>


<h1 id="tritonmun"><span id="main">Users</span></h1>

<div class="narrow">

<%= will_paginate %>

<!--
 <#%= collection_select_tag(:user, :role, User.all,
                         :id, :role, {}, {:name=>'user_filter'}) %>

-->

<ul class="users">

  <%= render @users %>
</ul>

<%= will_paginate %>
    </div>