.column.full.left
  .module
    .title
      %span
        MANAGE SECRETARIAT
    = render User.secretariat_members
    = will_paginate
.column.full.left
  .module
    .title
      %span
        MANAGE OTHER MEMBERS
    = render User.non_secretariat_members
    = will_paginate