%h1.subhead
  %span#main Manage Schedules

= link_to "New Schedule", url_for([:new, @parent, :schedule]), class: "admin-link"
= render partial: "schedule", collection: @parent.schedules, as: :schedule, locals: {parent: @parent, conf: "all"}




