- if @parent.is_a? Branch
  = render partial: 'form', locals: {conf: "false", parent_name: @parent.class.name.demodulize.downcase}
- else
  = render partial: 'form', locals: {conf: "true", parent_name: @parent.class.name.demodulize.downcase}

