#buttonBox
  = link_to about_path do
    .button Club Overview
  = link_to secretariat_path do
    .button Secretariat
  = link_to history_path do
    .button History
  = link_to alumni_path do
    .button Alumni