<div id="buttonBox">
  <a href="/travelteam/"><div class="button">Overview</div></a>
  <a href="/travelteam/training"><div class="button">Training</div></a>
  <%= link_to tconferences_path do %>
      <div class="button">Conferences</div>
  <%end %>
  <a href="https://docs.google.com/forms/d/1b9KIyqVBj1SntUnyCgYXM_E5km5Zgn0OQFFluKWh8pg/viewform"><div class="button">TritonMUN</div></a>
  <a href="/travelteam/resources"><div class="button">Resources</div></a>
  <a href="/travelteam/past"><div class="button">Awards</div></a>
</div>