<div id="buttonBox">
  <a href="/travelteam/"><div class="button">Overview</div></a>
  <a href="/travelteam/upcoming"><div class="button">Upcoming</div></a>
  <a href="/travelteam/resources"><div class="button">Resources</div></a>
  <a href="/travelteam/training"><div class="button">Training</div></a>
  <a href="/travelteam/past"><div class="button">History</div></a>
</div>