#buttonBox
  = link_to branch_path(Branch.travel.first) do
    .button Overview
  %a{:href => "/branches/travelteam/training"}
    .button Training
  %a{:href => "/branches/travelteam/upcoming"}
    .button Conferences
  %a{:href => "https://docs.google.com/forms/d/1b9KIyqVBj1SntUnyCgYXM_E5km5Zgn0OQFFluKWh8pg/viewform"}
    .button TritonMUN
  %a{:href => "/branches/travelteam/resources"}
    .button Resources
  %a{:href => "/branches/travelteam/past"}
    .button Awards