<% provide(:title, 'Frontpage slides') %>


<h1 id="tritonmun"><span id="main">Frontpage</span></h1>

<div class="narrow">
    <%= render 'update_hello' %>


  <ul class="left slides">
    <h2 class="slide-head2">Left Slides <a href="/frontpages/new" >+ Add Slide</a></h2>
    <%= render @left_slides %>
  </ul>

  <ul class="right slides">
    <h2 class="slide-head2">Right Slides <a href="/frontpages/new" >+ Add Slide</a></h2>
    <%= render @right_slides %>
  </ul>

</div>