.column.medium.right
  .module.upcoming
    .title
      %span
        = @parent.name
        = @parent.class.name.demodulize
        headline
      = render partial: "headline", collection: @parent.headlines, as: :headline, locals: {parent: @parent}
