// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require cocoon
//= require jscolor


$(document).ready( function() {



    $(".answer").hide();

    $(".admin-link").hide();

    $(".question").click( function() {
       $(this).next().stop().slideToggle('fast');
    });

    $(".question").prepend("<span class='arrow'>&#x25BC;</span>");

    $(".google-form").hide();

    $("div.button#apply-topic").click( function() {
        $(this).parent().next().stop().slideToggle('fast');
    });



});


$(window).load( function() {

    $('.alert').delay(2000).slideUp(400);


});
