<% provide(:title, 'All Home Conferences') %>


<h1 id="tritonmun"><span id="main">Home Conferences</span></h1>

<div class="narrow">

  <%= will_paginate %>
  <% if signed_in? %>
      <!-- Admin viewing others' -->
      <% if current_user.admin? %>
        <span class="admin">
              <%= link_to "Add new home conference", "/tritonmun/new" %>
            </span>
      <% end %>
  <% end %>
<br><br>
  <!--
   <#%= collection_select_tag(:user, :role, User.all,
                           :id, :role, {}, {:name=>'user_filter'}) %>

  -->

  <ul class="users">
    <%= render @hconferences %>
  </ul>

  <%= will_paginate %>
</div>