<h1 id="tritonmun"><span id="main">Update Conference Details</span></h1>

<div class="narrow">


 <div class="even_more">
    <div class="forms">

      <%= render :partial => 'hconferences/form' %>

   </div>
 </div>
</div>