<% provide(:title, 'All Conferences') %>



<% provide(:title, 'TritonMUN') %>

<h1 id="tritonmun"><span id="main">TritonMUN</span></h1>
<div class="upcoming-cont">
<div class="upcoming"><!--<h1 class="subhead"><span id="main">Upcoming Conferences</span></h1>-->
  <div id="tmun1">
    <div class="innerRom">

      <h2 class="lowerhead"><span><i class="flaticon-autumn1"></i> Fall 2014</span></h2>

      <a href="/tritonmun/X"><div class="romanBox">X</div></a>

    </div>

    <div class="innerRom">

      <h2 class="lowerhead"><span><i class="flaticon-flower18"></i> Spring 2015</span></h2>
      <a href="/tritonmun/XI"><div class="romanBox">XI</div></a>


    </div>



  </div>
  <!--<a href="" class="past-confs">view past conferences</a>-->
</div>
</div>


<div id="letter">


  <p>Honorable Delegates and Advisers,</p>

  <p>Welcome to the eleventh session of Triton Model United Nations, Spring 2015. This year's
    conference will be hosted at Price Center on the University of California, San Diego campus from Saturday, April 25th to Sunday, April 26th, 2015.</p>

  <p>Our conference has grown rapidly in previous years, so we are excited to announce the expansion of committees to a total of twelve. Along with our General Assembly and specialized committees, we are eagerly anticipating a European Union committee and the return of our fast-paced joint crisis committees. The aim of these committees is to foster diplomacy among delegates by blending a diversity of ideas into comprehensive and farsighted solutions. These solutions will be reached through tactful debate by molding idealistic goals into realistic strategies. </p>

  <p>Our Chairs are looking forward to discussing the complexities of international issues, with emphasis on excellence in research, critical analysis and creative problem solving. We will be hosting a guest speaker in each committee who specializes in the topic to offer delegates their realm of experience when evaluating the multifaceted nature of their topics. The guest speakers range from activists in San Diego&rsquo;s United Nations Association, to distinguished researchers and internationally focused professionals. </p>

  <p>Registration is now <a href="http://goo.gl/forms/t1JlnCYcU9">open</a>! If you have any questions during this
    process,
    please do not hesitate to email us at tritonmun.ucsd@gmail.com.</p>

  <p>Warmest regards,</p>

  <p>Andrew Muse-Fisher<br />
    Under-Secretary General</p>

  <p>Megan Difley<br />
    Secretary General</p>

  <!--<div id="by"><span>&mdash;Megan Difley</span></div>-->
</div>








