%div.conf_cont
  %div.narrow

    %div.outer
      %div.innerBox
        %h2
          %span Directions to UCSD
        %h3
          %span FROM THE NORTH:
        Exit Interstate 5 at LA JOLLA VILLAGE DRIVE and turn right into the right hand lane. Turn right at Villa La Jolla Drive to enter the UCSD campus. Proceed straight until you reach the Gilman Parking Structure, at the corner of Villa La Jolla Drive and Gilman Drive.
        %h3
          %span FROM THE SOUTH:
        Exit Interstate 5 at GILMAN DRIVE. Turn left and proceed for about 1.5 miles until you go under the overpass which brings you to the UCSD entrance. Proceed to Gilman Parking Structure, on the left, at the corner of Gilman Drive and La Jolla Drive

      %div.innerBox
        %h2
          %span Locations FAQ
        %div.faq
          %div.question Where is the conference?
          %div.answer
            TritonMUN XI will be hosted at the UC San Diego Price Center and nearby buildings. Committees will be located between the East and West wings of Price Center. Due to space constraint, more committees will be located in the Original Student Center and the Student Services Center.
            %br
            %br
            Please note, the campus is host to a multitude of simultaneous events. We ask that you remain courteous of
            others. You represent the name of Model United Nations as well as your school. Due to the sheer size of the conference, Advisers should keep track of students during lunch as well as before and after the conference begins.

          %div.question Is there parking nearby?
          %div.answer
            Yes. The most convenient parking is inside the Gilman parking structure. Parking is FREE on the weekends. Park in the Visitor spots, ‘S’ spots, ‘A’ spots, or ‘B’ spots, but NOT ‘Reserved’. You may be fined.
            %br
            %br
            Buses may drop off students on Rupertus Lane. See map link:
            %a{href: "http://act.ucsd.edu/maps/"}http://act.ucsd.edu/maps/

          %div.question Is there a hotel for us to stay overnight?
          %div.answer
            In past years, delegates have stayed at the La Jolla Sheraton.
            %br
            %br
            Contact information:
            %br
            Mark Kuper
            %br
            Sales Manager
            %br
            858.452.4012
            %br
            SHERATON LA JOLLA HOTEL
            %br
            3299 Holiday Court, La Jolla, CA 92037
            %br
            %a{href: "http://sheratonlajolla.com"}http://sheratonlajolla.com