.column.full
  .module
    .title
      %span
        SPEAKERS
    .admin-container.add
      = link_to 'javascript:;' do
        .clicker.add A
      %ul.admin-list
        %li
          = link_to new_hconference_speaker_path(@hconference), class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/create.png'
              .words
                Add speaker
    - if @hconference.speakers.size == 0
      Speakers will be announced at a later date.
    - else
      %div.conf_cont
        .speaker-cont
          = render partial: "speakers/speaker", collection: @hconference.speakers, as: :speaker, locals: {parent: @hconference}
