%div.conf_cont
  .speaker-cont
    .speaker-box
      %h1.speaker
        Keynote
        %span.slash
          \/
        %span.name
          Megan Mattson
      Megan Mattson is the lead public affairs officer for the Office of Public Affairs and Outreach in the Bureau of International Organization Affairs (IO).  In that position, Megan guides the Bureau’s communications with a host of foreign and domestic audiences related to U.S. engagement with the United Nations and other international organizations.  Prior to joining IO, Megan was a press officer in the Office of Press Relations in the Bureau of Public Affairs working for the Department of State Spokesperson.  From 2007-2012 Megan served as the lead press officer with portfolios focusing on but not limited to, East Asian and Pacific Affairs, Western Hemisphere Affairs, International Organizations, Consular Affairs,  and  Population, Refugees and Migration.  Megan began her career with the Department of State in 2002.Megan received a B.A. from the University of Southern California and a M.A. from the George Washington University.  Megan is a native of San Diego, California.
    .speaker-box
      %h1.speaker
        UNHRC
        %span.slash
          \/
        %span.name
          Kana Morikawa
      I am an Assistant Professor of Sociology and Urban Studies and Planning at the University of California, San Diego, having completed my PhD at Berkeley in 2014. I study the intersection of development, migration, and gender, with a focus on the relationships between Mexico and the United States. Most of my research is based on cross-border ethnography of Mexican sending communities and their migrants in the United States.My dissertation – currently in revision as a book – explores three themes: first, it asks how local histories of inequity influence migrants’ paths. Then, it considers how migrant communities respond to exclusion and exploitation in the US, sparking new forms of cross-border political advocacy. Finally, it draws attention to how, in these broader struggles, gender relationships get transformed. Articles from this work have been published in Gender & Societyand the Journal of Contemporary Ethnography and won awards from the American Sociological Association sections on gender, political sociology, international migration, development, and racial and ethnic minorities.In addition, I have published several papers about North-South power dynamics within transnational social movements, and I am co-editing a textbook that uses gender theory to inspire a critical approach to sociology.At UCSD, I teach graduate and undergraduate courses in urban sociology, globalization, gender, research methods, and postcolonial theory, ever seeking to engage students in big questions that bring sociology into dialogue with the world.
    .speaker-box
      %h1.speaker
        1st GA DISEC
        %span.slash
          \/
        %span.name
          Topher McDougal
      Topher McDougal is Assistant Professor in Economic Development & Peacebuilding at the Kroc

      School of Peace Studies at the University of San Diego.  He is also Associate Editor of the

      Journal of Peacebuilding & Development, Research Affiliate at the Centre on Conflict,

      Development, & Peacebuilding (CCDP) at the Graduate Institute for International &

      Development Studies, Geneva, Switzerland; and a Principal of the newly-formed Small Arms

      Data Observatory (SADO). His research focuses broadly on the microeconomic causes and

      consequences of armed violence, including rural-urban trade patterns in conflict-affected

      societies; illicit trades, especially in small arms; and urban violence. 
    .speaker-box
      %h1.speaker
        Security Council
        %span.slash
          \/
        %span.name
          Michael Provence
      Michael Provence is an Associate Professor at the UCSD Department of History, and the director of the UCSD Middle East Programs. He received a PhD from the University of Chicago in 2001. He was also recently an Alexander von Humboldt fellow at the Zentrum Moderner Orient in Berlin, Germany. His research focuses on the colonial and post-colonial Arab world, particularly popular insurgency and nationalism between the World Wars.
    .speaker-box
      %h1.speaker
        UNICEF
        %span.slash
          \/
        %span.name
          Robert Fellmeth
      Professor Fellmeth is a graduate of Stanford University and the Harvard Law School. He currently is a tenured Professor of Law at the University of San Diego School of Law. He is the author of the law text ‘Child Rights and Remedies’ (Clarity Press, 3d Edition 2013), he is the Secretary/Treasurer of the Partnership for America’s Children with child advocates in 42 state capitols and is the recent President of the Board of the National Association of Counsel for Children.”
    .speaker-box
      %h1.speaker
        UNODOC
        %span.slash
          \/
        %span.name
          David R. Mares
      Professor Mares holds the Institute of the Americas Chair for Inter-American Affairs at UCSD and is also the Baker Institute Scholar for Latin American Energy Studies at the James A. Baker III Institute for Public Policy, Rice University. Mares was previously Professor of the Centro de Estudios Internacionales at El Colegio de Mexico, and has been a Fulbright Professor at the Universidad de Chile and Visiting Professor at FLACSO-Ecuador. He is the author or editor of ten books and his publications have appeared in English, Spanish, French, Portuguese, Italian and Chinese in journals such as Comparative Politics, International Organization, International Interactions, Security Studies, Latin American Research Review, Foro Internacional, Estudios Internacionales and Fuerzas Armadas y Sociedad. He has been a visiting scholar at the Brookings Institution, Oxford Institute for Energy Studies and the Weatherhead Center for International Affairs, Harvard University; a fellow at the Japan External Trade Research Organization; a fellow at the Center for Advanced Study in the Behavioral Sciences, Stanford University; and held a Pew Faculty Fellowship in International Affairs. Mares has prepared reports for the Carnegie Foundation, the Stockholm International Peace Research Institute, the Netherlands Institute of International Relations, the Stiftung Wissenschaft und Politik, as well as the Arias Foundation for Human Progress and Development and he is an Associate Fellow of the Inter-American Dialogue (Washington, D.C.), and a member of the International Institute for Strategic Studies (London) and the Council on Foreign Relations. His research and teaching interests include Latin American energy politics, the political economy of drug policy, defense policy, civil-military relations and the use of photographic imagery in politics.
    .speaker-box
      %h1.speaker
        US Crisis
        %span.slash
          \/
        %span.name
          Branislav Slantchev
      Branislav Slantchev is a Professor of Political Science at UC San Diego, specializing in military coercion and wartime negotiations. Slantchev received his Ph.D. at the University of Rochester in 2002 and joined UC San Diego as an Assistant Professor the same year. As a professor, Slantchev teaches classes on international relations in regards to war and foreign policy, teaching classes such as National Security Strategy, Game Theory, and War and Society. As a scholar, Slantchev's work has been featured in various journals, including the American Political Science Review, the American Journal of Political Science, International Organization, International Studies Quarterly, and Security Studies. His book, Military Threats: The Costs of Coercion and the Price of Peace, was published in 2011.
