.admin-items-cont {

  .item {
    background-color: white;
    border-radius: 3px;
    border-bottom: 1px solid gray;

    display: inline-block;
    vertical-align: top;

    padding: 1em;

    text-align: center;

    .name {
      font-size: 2em;
    }
  }

}