/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.minicolors
 */

.admin-link {
    background-color: red!important;
    color: white!important;
    border: 1px solid red;

    padding: 1px 4px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    font-size: 16px!important;
    font-family: 'Lato', sans-serif!important;

    opacity: .5!important;

    text-transform: capitalize!important;

    display: inline-block;
    margin: 8px 0px 0px 8px!important;



}

.admin-link:hover {

    opacity: 1!important;

}

.admin-link-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
    background: red;
    color: white;
    padding: 1em;
    font-size: 1em;
    z-index: 9999999999999;
}





