/*
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.minicolors
 */
$adminRed: rgb(231, 0, 43);
$adminDarkRed: #B00021;

$adminGreen: #6DC50B;

a {
  color: inherit;
}

.schedule-cont {
  margin-bottom:2em;
}
.schedule-cont:last-of-type {
  margin-bottom:0;
}

.tog {
  cursor: pointer;
}

tr.time {
  display: none;
}

.admin-toggle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 9999999999999;

  .slider-cont {
    vertical-align: top;
    display: inline-block;
    border-radius: 999px;
    height: 32px;
    width: 64px;
    background: rgba(0, 0, 0, 0.28);
    border: 1px solid transparent;
    margin-left: 5px;
  }
  .slider {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: $adminRed;
    line-height: 32px;
    text-align: center;
    font-size: 12px;

    position: relative;
    left: 0;

  }

  .tools {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: $adminRed;
    text-align: center;
    line-height: 28px;
    vertical-align: middle;

    img {
      width: 80%;
      vertical-align: middle;
    }
  }
}

.branch-image {
  max-height: 200px;
}

.participate-cont {
  font-size: 1.5vw;

  h1 {
    font-size: 2em;
    color: #1B385F;
  }

  ol {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    line-height: 1;
    font-size: 1.5em;
    color: #397BCE;
    li {
      margin-top: 1em;
      font-weight: 300;

      a {
        color: #2d60a1;
        border-bottom: 1px solid rgba(0, 0, 0, 0.19);

      }
      a:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.53);
      }
    }
  }
}

.admin-container.add {
  top: -16px;

  .clicker {
    //font-size: 24px;
    //background-color: rgb(0, 118, 16);
  }


}

.admin-container {

  opacity: 1;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -16px;
  border-radius: 3px;
  //z-index: 1000;
 // overflow: hidden;

  .clicker {
    opacity: .5;
    line-height: 32px;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    /* border-bottom: 2px solid maroon; */
    background-color: $adminRed;
    color: white;
    //font-weight: bold;
    position: relative;
    z-index: 100;
    text-align: center;
    box-sizing: border-box;
    line-height: 30px;
    border-radius: 50%;
    text-shadow: none;
    font-size: 24px;
  }
  .clicker:hover {
    opacity: 1;
  }

  ul.admin-list {
    opacity: 0;
    list-style: none;
    padding: 0;
    /* width: 200px; */
    /* padding-right: 8px; */
    text-align: left;
    position: relative;
    top: -25px;
    //z-index: 0;
    margin: 0;

    display: none;


    position: relative;
    top: -25px;
    z-index: 200;


    li {



      .admin-line {
        /* overflow: hidden; */
        /* margin: 0 auto; */
        height: 32px;
        line-height: 32px;
        /* border: 1px solid #a90000; */
        /* margin-bottom: 1px; */
        color: white;
        border-radius: 3px;
        display: block;
        text-align: left;
        box-sizing: border-box;
        white-space: nowrap;
        margin: 6px 0;

        .icon {
          border-radius: 50%;
          background: $adminRed;
          display: inline-block;
          width: 32px;
          height: 32px;
          /* border: rgba(0, 0, 0, 0.04) solid 1px; */
          line-height: 32px;
          /* vertical-align: middle; */
          height: 32px;
          width: 32px;
          position: relative;
          //z-index: 20;
          /* border: 1px solid #c50000; */
          box-sizing: border-box;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);
          z-index: 150;

        }
        .words {
          z-index: 130;
          border-radius: 999px;
          //opacity: 0;
          display: none;
          /* line-height: 32px; */
          vertical-align: middle;
          height: 32px;
          /* border: 1px solid #000000; */
          vertical-align: top;
          color: white;
          padding-left: 8px;
          padding-right: 16px;
          white-space: nowrap;
          background: $adminDarkRed;
          box-sizing: border-box;
          position: relative;
          left: -32px;
          padding-left: 40px;
          //z-index: 10;
          /* vertical-align: middle; */
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);
          text-shadow: none;
          font-size: 16px;
        }
      }
    }
  }

}


#new-member {
  text-align: center;
  font-size: 1.5em;

  #new {
    margin-bottom: .5em;

  }


}


.center {
  text-align: center;
}
.dark-bg {
  height: 100%;
  width: 100%;
  background-color: rgb(18, 42, 72);
  /* vertical-align: top; */
  /* top: 0; */
  position: absolute;
}


.current {
  //border-bottom: 29px solid rgba(57, 123, 206, 0.25);
  a {
    font-weight: 900 !important;
    color: #397bce !important;
  }
}
.sub-current {
  //border-bottom: 5px solid #A7A7A7;
  position: relative;
  color: white !important;
  .arrow-test {
    width: 25px;
    top: 51.49px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)


  }
}
/*.sub-current::before {
  content: " ";
  background-repeat: no-repeat;
  background-image: url("/assets/arrow-down.png");
  position: absolute;
  background-size: 25px;
  *//* background-position: center bottom; *//*
  height: 100%;
  width: 100%;
  top: 50px;
  display: block;

}*/

#notice {
  position: absolute;
}
.sdimun-splash-cont {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/sdimun-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  img.sdimun-logo {
    position: absolute;
    width: 100%;
    left: 15.6%;
    top: 120px;
  }

  .more-button {
    font-size: 1.5vw;
    position: absolute;
    right: 9em;
    top: calc(8vw + 18%);
    z-index: 9999;
    border: 1px solid rgba(47, 101, 170, 0.42);
    border-radius: 5px;
    background-color: rgba(57, 123, 206, 0.04);
    color: #2e63a7;
    padding: .7em 1.4em;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.63);
    /* font-weight: 200; */
    display: inline-block;
    vertical-align: top;
    line-height: 100%;


  }

  .more-button:hover {
    background-color: rgba(57, 123, 206, 1);
    color: white;
  }
}

.button {
  padding: .3em 1em;
  padding-bottom: .4em;
  /* font-size: 1em; */
  border-radius: 2px;
  display: inline-block;
  font-family: 'Lato', sans-serif;


}

.button.light {
  color: #EEEEEE;
  border: 1px solid rgba(57, 123, 206, 1);
  border-bottom: 1px solid rgba(45, 89, 145, 1);
  background-color: rgba(57, 123, 206, 1);
}
.button.dark {
  color: rgba(255, 255, 255, 0.48);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.button.light:hover {
  background-color: rgba(57, 123, 206, 0.75);
  /* color: #1B385F; */
}
.button.dark:hover {
  background-color:  #285590;
  color: white;
}

.main-cont.no-nav {
  padding-top: 0;
}
.main-cont {
  margin: 0 auto;
  margin-top: 55px;
  text-align: center;
  font-size: 18px;
  color: #2E2E2E;
  margin-left: 55px;
  margin-right: 55px;
  padding-top: 40px;
  font-size:0;
  padding-bottom: 150px;



  .column {
    font-size:1rem; /* IE9+ */
    display: inline-block;
    vertical-align: top;
    text-align: left;

    iframe {
      margin: 0 auto;
      width: 100%;
    }

    .pos {
      li {
        margin-bottom: 2em;
        font-size: 1.1em;
        color: rgb(27, 56, 95);
      }
    }

    .committees-cont:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }
    .committees-cont {
      width: 80%;
      max-width: 1000px;
      margin: 0 auto;
      border-bottom: 4px solid rgb(191, 191, 191);
      margin-bottom: 3em;

      h1 {
        font-size: 3em;
        /* margin: .2em 0; */
        margin-bottom: .2em;
        color: rgb(27, 56, 95);
      }

      .sub-head {
        padding: 1em;
        padding-top: 0;
        font-size: 1.2em;
        /* border: 1px solid black; */

        table {
          display: inline-block;
        }
      }

      .banner-cont {
        max-height: 300px;
        overflow: hidden;
        position: relative;
        /* box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16); */
        border: 6px solid rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        min-height: 60px;

        h3 {
          text-transform: uppercase;
          color: white;
          position: absolute;
          bottom: 0;
          margin: 0;
          padding: 1em;
          background-color: rgba(27, 56, 95, 0.89);
          width: 100%;
          text-align: center;
          letter-spacing: 5px;
        }
      }

      .description {
        line-height: 1.5;
        font-size: 1.25em;
        padding: 2em;
      }
    }


    .module {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid rgba(204, 208, 213, 0.48);
      border-radius: 2px;
      padding: 2em 2em;
      width: 100%;
      font-size: 16px;
      margin-bottom: 1em;
      position: relative;
      background-color: #E5E5E5;

      .letter {
        font-size: 1em;
        line-height: 1.5;
        padding: 4em;
        padding-top: 2em;
      }

      a.text {
        color: rgb(57, 123, 206);
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      }
      a.text:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.43);
      }

      .sub-module {
        background-color: #F2F2F2;
        margin-bottom: 1em;
        border: none;
        box-shadow: 0px 1px 1px #D5D5D5;
      }


      .grid-module {
        vertical-align: top;
        display: inline-block;
        width: 14.6%;
        min-width: 100px;
        margin-right: 20px;

        a {
          font-weight: bold;
        }
      }

      .sub-module:last-of-type {
        margin-bottom: 0;
      }


      h1.date {
        margin-top: 0;
        font-size: 1em;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgb(57, 123, 206);
        background-color: rgb(57, 123, 206);
        padding: .5em;
        margin-top: 1em;
        /* position: absolute; */
        display: inline-block;
        text-transform: uppercase;
      }

      caption.date {
        margin-bottom: 1em;
        border-bottom: 4px solid lightgray;
        padding-bottom: .5em;
        span.name {
          font-size: 1.5em;
          font-weight: 900;
          color: rgb(27, 56, 95);
          text-transform: uppercase;
        }
        span.date {
          /* background-color: rgb(57, 123, 206); */
          /* padding: .5em 1em; */
          /* margin: 1em; */
          display: inline-block;
          color: rgb(57, 123, 206);
          font-weight: 900;
          text-transform: none;
        }
      }

      h2 {
        font-size: 1.8em;
      }

      h3 {
        text-transform: uppercase;
        color: rgb(57, 123, 206);
      }

      table.infos {
        td:first-of-type {
          font-weight: normal;
          padding-left: 0;
        }
        td:nth-of-type(2) {
          font-weight: bold;
          padding-left: 0;
        }
      }

      table {
        color: #19375f;
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        .triangle.rotated {
          transform: rotate(90deg);
        }
        .not-rotated {

        }

        span.triangle {
          color: blue;
          opacity: .5;
          display: inline-block;
          transform: rotate(0deg);
        }

        span.triangle:hover {
          opacity: 1;
        }

        th {
          text-transform: uppercase;
          font-size: 12px;
          text-align: center;
          color: #397BCE;
        }
        tr {
          td {
            padding: 1em;
            border-top: 2px solid rgb(210, 211, 214);
          }
          td:first-of-type {
            font-weight: bold;
            padding-left: 0;
          }
          td:last-of-type {
            padding-right: 0;
          }
        }
        tr {
          td{
            border-top: 2px solid rgb(210, 211, 214);
          }
        }
        tr:first-of-type {
          td {
            border-top: none;
          }
        }

      }
      table.schedu {

        tr {
          td {
            border-top: none;
          }

        }

        tr:nth-child(even) {
          td {
            //border-top: 2px solid rgb(210, 211, 214);
            padding-top: 0;
            font-size: 14px;
            color: #397BCE;
          }
        }
        tr:nth-child(odd) {
          td {
            border-top: 2px solid rgb(210, 211, 214);
          }
        }
        tr:first-of-type {
          td {
            border-top: none;
          }
        }
      }
      table.sign {

        td {
          border-bottom: none;
        }
        td:first-of-type {
          text-align: right;
        }
      }

      .title {
        font-size: 17px;
        position: absolute;
        top: -.7em;
        left: .4em;
        vertical-align: middle;
        font-weight: 700;
        color: #92a8c5;
        text-transform: uppercase;

        span {
          background-color: #E5E5E5;
          padding: .1em .75em;
          border-radius: 3px;
        }
      }
      .content#next {
        color: #19375f;
        font-size: 32px;
        font-weight: 900;
        text-align: center;

        a {

          color: rgb(57, 123, 206);
          //border-bottom: 1px solid rgba(0, 0, 0, 0.06);

        }
        a:hover {
          //border-bottom: 1px solid rgba(0, 0, 0, 0.43);
        }
      }
      .content#important {

      }
      .content#get {
        color: #397BCE;
        font-size: 1.7vw;
        font-weight: 900;
        text-align: center;
      }
      .content#announcements {
        color: #19375f;

        .announcement-cont {
          padding-bottom: 2em;

          .body {
            margin-bottom: 2em;
          }

          h2 {
            margin-top:0;
          }
          //border-bottom: 2px solid rgb(210, 211, 214);
        }
        .announcement-cont:last-of-type {
          border-bottom: none;
        }

      }
    }
  }

  .column {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  .column.half {
    width: 50%;
  }
  .column.full {
    width: 100%;
  }
  .column.small {
    width: 30%;
  }
  .column.big {
    width: 70%;
  }
  .column.medium {
    width: 33.333333%;
  }

  .column.sixty {
    width: 60%;
  }
  .column.fourty {
    width: 40%;
  }

  .column.two-thirds {
    width: 66.66666666%;
  }
  .column.left {

  }
  .column.right {
    padding-left: 30px;
  }



}


.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

div.event-x {
  text-align: center;
  display: inline-block;
  /* padding: .5em; */
  background-color: $adminRed;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 3em;
  vertical-align: middle;
  line-height: 38px;
  color: white;
  opacity: .5;
}
div.event-x:hover {
  opacity: 1;
}
.letter-body {
  line-height: 2em;
}
#branch-nav {
  position: absolute;
  top: 80px;
  background-color: rgb(27, 56, 95);
  color: #b0bccb;
  font-size: 18px;
  height: 55px;
  width: 100%;
  font-size: 0;
  z-index: 9999999;


  a.section {
    font-size: 1rem;
    color: #b0bccb;
    display: inline-block;
    line-height: 55px;
    padding: 0 .7em;
  }
  a.section:hover {
    background-color: rgb(13, 26, 44);
    color: white;

  }



  a.square {
    vertical-align: top;
    font-size: 1rem;
    display: inline-block;
  }

  .box#roman {
    vertical-align: middle;
    line-height: 57px;
    text-align: center;
    padding: 0 10px;
    /* padding-left: 4px; */
    font-size: 20px;
    color: #dedede;
    font-weight: 900;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1B385F;
    width: auto;
  }
  .red {
    background-color: $adminRed !important;
  }

  .box:hover {
    background-color: #3d91ea;

  }

  .box#roman:hover {
    background-color: #3d91ea;
    color: white;
  }

  .box {
    font-size: 1rem;
    width: 55px;
    height: 55px;
    background-color: #397bce;
    display: inline-block;
    vertical-align: top;

    img {
      width: 55px;
      height: 55px;
    }
  }
}

.admin-link {
//    background-color: red!important;
//    color: white!important;
//    border: 1px solid red;
//
//    padding: 1px 4px;
//
//    -webkit-border-radius: 3px;
//    -moz-border-radius: 3px;
//    border-radius: 3px;
//
//    font-size: 16px!important;
//    font-family: 'Lato', sans-serif!important;
//
//    opacity: .5!important;
//
//    text-transform: capitalize!important;
//
//    display: inline-block;
//    margin: 8px 0px 0px 8px!important;



}

.admin-link:hover {

    opacity: 1!important;

}

.admin-link-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
    background: $adminRed;
    color: white;
    padding: 1em;
    font-size: 1em;
    z-index: 9999999999999;
}





