
$grayMediumLight: #eaeaea;
$headerHeight: 6em;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:last-child {
      border-bottom: 1px solid lightgray;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: gray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

  .alert {
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
    color: white;
  }


  .alert-success {
    background: #47c346;
  }

  .alert-error {
    background: #c3433f;
  }



/* forms */
div.row {
  text-align: center;
}
div.form {
  display: inline-block;
  margin: 0 auto;
  div.form_line {

    text-align: right;

    input {
      padding: 15px;
      width: 200px;
    }
    label {
      display: inline-block;
      margin-right: 25px;
    }

  }



}


textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {/*
  @extend .control-group;
  @extend .error;*/
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: darkgray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Georgia';
  font-size: 16px;
  background: #F2F2F2;

  padding-bottom: 100px;
}

header.navbar {
  width: 100%;
  background: #ececec;
  height: $headerHeight;
  border-bottom: 1px solid #e4e4e4;

}

div#navbar-inner {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  /*padding: 20px 0px 20px 0px;*/
}

nav {
  overflow: hidden;
  height: $headerHeight;
  line-height: $headerHeight;


  img#logo {
    vertical-align: middle;
    margin-bottom: 10px;
    height: 75%;
  }
}

nav ul{
  height: 100%;
  margin: 0px;
  list-style: none;
  display: inline-block;
  float: right;
  line-height: $headerHeight;


  li {
    display: inline-block;
    padding: 0px 1em;
    height: $headerHeight;


  }
  li:first-child {
    padding-left: 0em;
  }

  li:last-child {
    padding-right: 0em;
  }
}

a.nav-link {
  // color: #A4A4A4;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  text-transform:uppercase;
  // text-shadow:  0px -.3px 0px rgba(0, 0, 0, .8);
  letter-spacing: 0em;
  height: 100%;
  margin-top: 0px;
  display: inline-block;


    /* Shadows are visible under slightly transparent text color */
    color: rgba(148, 148, 148, 0.7);
    text-shadow: 0px 1px 1px #def, 0 0 0 #000, 0px 1px 1px #def;

  /*
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
*/

}
a.nav-link#signin {
  text-shadow: 0px 1px 1px #def, 0 0 0 #000, 0px 1px 1px #def;
  color: rgba(180, 150, 28, 0.70);
}

ol.ad {
  width: 400px;
  margin: 0 auto;
  li {
    line-height: 50px;
  }

}

a.nav-link#admin {
  //background: red;
  color: red;
  text-shadow: none;
}
a.nav-link:hover {
  color: rgba(0, 34, 128, 0.70);
  text-shadow: 0px 1px 1px #def, 0 0 0 #000, 0px 1px 1px #def;
}
a.nav-link#signin:hover {
  text-shadow: 0px 1px 1px #def, 0 0 0 #202020, 0px 1px 1px #def;
  color: rgba(255, 205, 0, 0.70);
}

div.container {
  margin: 0 auto;
}

img#map {
  opacity: .9;
}