$bgColor: #d9d9d9;
$borderLight: #cccccc;

$headerGray: #2b2b2b;

$mediumGray: #848484;
$tritonGold: #6fa3df;

html, body {
 // height: 100%;
  background: #0A0822;

}

div.gth {
  height: 100%;
  width: 100%;
  background-color: lime;
  position: absolute;
  z-index: 999999999999999999999999999;
}

.bgs-cont {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;

  font-size: 0;

  overflow: hidden;
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*-ms-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/


  .bg {
    opacity: 0;
    background-position: center center;
    position: relative;
    z-index: 1;
    width: 33.3333%;
    height: 33.3333%;



    //left: -10%;
    //top: -10%;

    display: inline-block;

    background-size: cover;
    //opacity: 0;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-moz-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/



    img {
      //width: 110%;
      // height: 110%;

      position: absolute;
      z-index: 2;
    }

  }
}


.gde {
  overflow: hidden;
  background-color: #111B27;
  font-family: 'Lato';
  font-weight: 400;
  color: white;
  text-shadow: 0px 0px 2px black;
  font-size: 1.5em;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 0em;
  height: 90vh;

  div.text {
    pointer-events: none;
    margin: 2em 2em;
    margin-bottom: 8em;
    margin-top: 21vh;
    text-align: center;
    font-size: 2vw;
  }
  img.bg {

    width: 60%;
    position: absolute;
    z-index: 0;

    opacity: .1;

    top: -7em;

    left: 0;
    right: 0;
    margin: 0 auto;
  }



  #copy {
    pointer-events: none;
    width: 60%;
    /* font-style: italic; */
    /* margin: 0 auto; */
    display: inline-block;
    /* background-color: rgba(0, 0, 0, 0.39); */
    position: relative;
    /* padding: .25em; */
    color: white;
    font-weight: 300;
  }

  a {
    pointer-events: auto;
    text-decoration: none;
    color: $tritonGold;
    font-family: Lato;
    text-transform: none;
    opacity: 1;

  }
  a:hover {
    pointer-events: auto;
    //opacity: .5;
  }

  #learn {
    pointer-events: auto;
    font-size: 1.25em;
    font-weight: 400;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 3px;
    margin-top: 50px;
    border: 1px solid rgba(57,123,206,0.44);
    background-color: rgba(57,123,206,0.15);
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.47);

    #arrow {
      pointer-events: auto;
      margin-left: .25em;
      font-size: 1em;
      color: rgb(60, 127, 211);
      text-shadow: none;
    }

  }
  #learn:hover {
    pointer-events: auto;
    background-color: #3B7CCD;
  }
}

.slide-head {
  color: white;
  font-size: 4em;
  opacity: .03;
  width: 50%;
  text-align: center;

}
.slide-head#left {
  float: left;

}

.slide-head#right {
  float: right;

}


#home_h1 {

  position: relative;
  opacity: 1;
  z-index: 9999;
  //background-image: url("line-pixel-dark.png");
  background-repeat: repeat-x;
  text-align: center;
  background-position: center;
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: .5em;
  margin-top: 0px;
  //background-color: #0A0822;
  font-family: 'Lato';

  span {
  //  background-color: #0A0822;
    padding: 0px 1em;
    opacity: 2;
  }

}


.s-left {

  text-align: left;

  div.overlay {
    margin-left: 5%;
  }

}
.s-right {

  text-align: right;

  div.overlay {
    margin-right: 5%;
  }
}

.container#news {
  font-size:0;
  background-color: rgb(24, 53, 91);
  position: relative;

  .column {
    display: inline-block;
    width: 33.33%;
    font-size:1rem; /* IE9+ */
    vertical-align: top;

    .item-cont {
      margin: 0 auto;
      margin-top: 2vw;
      /* height: 20em; */
      background-position: center center;
      background-repeat: no-repeat;

      .item {

        color: #c8ccd2;
        /* background: rgb(200, 204, 210); */
        border-radius: 3px;
        padding: 2em;
        padding-top: .5em;
        padding-bottom: 3em;
        font-size: 1.2em;
        text-align: center;
        background-color: rgba(24, 53, 91, 0.89);

        span.more {
          margin-top: 2em;
          position: relative;
          bottom: 0;
          font-size: 12px;
        }

        span.more:hover {
          background-color:  #285590;
          color: white;
        }

        h1 {
          /* font-family: 'Oswald'; */
          /* text-transform: uppercase; */
          color: white;
          text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
          letter-spacing: normal;
          font-size: 3em;
          position: relative;

          /* font-weight: normal; */
          /* margin-top: .1em; */
          margin-bottom: .5em;
          font-weight: 900;
          line-height: .75em;
        }

        h1.left {
          right: 12px;
        }

        h2.right {
          left: 12px;
        }

      }
    }
    .item-cont.left {
      background-image: url('/assets/travel-balloon.png');
    }
    .item-cont.middle {
      text-align: center;
      //border: 1px solid rgba(18, 39, 66, 1);
      border-bottom: none;
      border-top: none;
      background-image: url('/assets/collegiate-trident.png');
    }
    .item-cont.right {
      background-image: url('/assets/home-library.png');
    }

  }
}



#everything {
  width: 5px;
  background-color: rgba(57, 123, 206, 0.13);
  position: absolute;
  z-index: 1;
  opacity: .95;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


.home {

  position: relative;
  width:100%;
  z-index: 10;

}
div.outer#front {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 1);

}

div.news-box {

  margin: 1.5em;


  text-align: center;

  font-style: italic;
  font-weight: 400;

  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 1em;
      padding-bottom: 2em;
      //background: rgba(255, 255, 255, 0.25);
      border-top: 3px solid rgba(255, 255, 255, 0.07);
      border-bottom: 1px solid rgba(0, 0, 0, 0.26);
      list-style: none;
      //margin-bottom: .5em;

      h2 {
        margin-top: 0;
        font-size: 2.5em;
        font-family: Oswald;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.78);
      }
    }
    li:first-child {
      border-top: none;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

div.outer#news {
  background: #18355b;
}
img.branch {
  pointer-events: none;
  font-size: 1vw;
  position: absolute;
  z-index: 99999;
  width: 33.33%;
  top: -6.1vw;
  display: block;
  margin: 0 auto;
}
div.outer {
  width: 100%;
  font-size:0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  //border-bottom: 2px solid black;


  // background-image: url("background-stamp.png");
  background-position: top center;
  background-repeat: no-repeat;
/*  background-size: 300px;*/

  div.inner {
/*    background-image: url("FrontPage/left-travel.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50%;*/

    //position: relative;

    display: inline-block;
    width: 50%;
    font-size:1rem; /* IE9+ */

    text-align: center;




    h2.branch-title {
      background-color: #0A0C23;
      color: white;
      margin: 0;
      padding: .7em;
    }



    img.arrow {

      width: 50px;
      position: absolute;
      z-index: 9999999999;

      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: calc(100% - 50px);
      opacity: .3;
    }

    img.arrow:hover {
      opacity: 1;

    }


    img.arrow:active {
      top: calc(100% - 52px);

    }

    div.phot-cont {
      font-size: .8em;
      position:relative;

      div.overlay-cont {
        position: absolute;
        background: rgba(0,0,0,.55);
        z-index: 9999999;
        width: 100%;
        height: 100%;

      }
      div.overlay {
        font-size: 6em;
        color: #ffffff;
        position: relative;
        z-index : 9999999;
        div.title {
          font-size: 8vw;
          color: #ffffff;
          font-style: italic;
          position: relative;
          z-index : 9999999;
        }
        div.word {
          font-size: 8vw;
          color: #e8e8e8;
          font-style: italic;
          position: absolute;
          top: -1.5em;
          text-align: center;
          width: 100%;
          margin: 0;
          padding: 0;
          z-index : 9999999;
        }
        //margin-top: 50%;


        position: absolute;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.9);

        left:0;
        right:0;
        bottom:10%;


        z-index: 999;
        div {position: relative; line-height: 80%; opacity: .9;}
        span.small {
          display: block;
          font-size: 4vw;
          font-style: normal;
          //line-height: .5em;
          color: #ffed45;
          margin-bottom: 1em;
        }
        span.word {
          font-style: italic;
          font-size: 8vw;
          line-height: 0em;
        }
        //background: rgba(0, 0, 0, 0.5);


        a.butt {
          font-style: normal;
          text-shadow:none;
          background-color: #252E61;
          color: white;

          border: none;
          border-bottom: 4px solid #12172f;
          cursor: pointer;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          font-size: .5em;
          //font-family: Georgia, Times, "Times New Roman", serif;
          padding: 10px 20px;
          position: relative;
          //bottom: 50px;
          line-height: 50%;
          text-decoration: none;
          //margin: 0 auto;


        }
        a.butt:hover {
          background-color: #333e88;
        }

        a.butt:active {
          background-color: #1f264e;
          border: none;
          top: 4px;
        }
      }


    }

    div.slide {
      //eft: 100px;
      width: 100%;
      //box-shadow: 0 0 30px rgba(0,0,0,0.5);

      position: relative;
      z-index: 1;

      img {
        width: 100%;
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
      }
    }

    div.slide:not(:last-child) {

      position: absolute;
      left: 0;
      right: 0;
      z-index: 0;
    }
  }

  div.innerBox {

    overflow: hidden;
    width: calc(50% - 1px);
    float:left;
    border-right: 1px solid #cccccc;
    padding: 0px 0%;




    .pos {
      font-size: 18px;
      line-height: 140%;
      padding: 20px 80px;

      h3 {
        font-size: 1em;
      }

      li {
        margin-bottom: 40px;
      }
    }

    .res {
      font-size: 18px;
      line-height: 140%;
      padding: 20px 80px;

      li {
        margin-bottom: 20px;
        margin-left: 25px;

        a {
          color: $headerGray;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

/*
    ul.info {
      text-align: left;
      list-style-type:none;

      font-size: 1.2em;

      div.label {
        float: left;
        margin-right: 25px;
        width: 100px;
        color: $mediumGray;

        margin-bottom: 1em;
      }

      div.info {
        float: left;
        width: calc(100% - 125px);
        min-width: 125px;
        line-height: 125%;

      }
    }
    */
    h2 {
      background-image: url("line-pixel.png");
      background-repeat:repeat-x;
      text-align: center;
      background-position:center;

      font-family: Georgia, Times, "Times New Roman", serif;
      font-weight: 1000;
      color: #2a2a2a;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: 16px;

      span {
        background-color:  $bgColor;
        padding: 0px 1em;
      }
    }


    .infosBox {
      padding: 0px 5%;
      text-align: center;


      .infos {

        font-size: 1.2em;
        text-align: left;

        a {
          color: #424242;
        }
        a:hover {
          color: #252E61;
        }
        td {
          padding: .3em 0em;
        }

        td.label {
          text-align: right;

          width: 180px;
          color: $mediumGray;
          font-style: italic;
          margin-bottom: 0em;

          padding-right: 3em;
        }

        td.label.date {
          text-align: left;
        }

        td.info {
          float: left;
          text-align: left;
          min-width: 125px;
          line-height: 100%;

          span.date {

            vertical-align: center;
            font-size: .6em;
          text-transform: uppercase;
            font-style: italic;
            color: gray;
            margin-left: 12px;

          }

        }




        div.more {
          text-align: right;
        }

      }
    }


    .updatesBox {
      padding: 0px 5%;
      text-align: center;



      .nextConf {
        background-color: #E6E6E6;

        display: inline-block;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        padding: .7em;
        margin-bottom: 16px;
        border-top: 1px solid $borderLight;
        border-bottom: 1px solid white;



        span.next {
          font-size: .6em;
          vertical-align: 2px;
          margin-right: .7em;
          color: #C4C4C4;
        }
      }
      .nextConf:hover {
        border-top: 1px solid black;
        background-color: #252E61;
        color: white;

        span.next {
          color: #C4C4C4;
        }
      }


      a {
        color: $mediumGray;
        text-decoration: none;
      }


      .updates {


        font-size: 16px;
        text-align: left;

        a {
          color: #424242;
        }
        a:hover {
          color: #252E61;
        }

        ul {
          padding: 0px;
          margin: 0px;
        }

        div.date {
          float: left;
          margin-right: 25px;
          width: 100px;
          color: $mediumGray;

          margin-bottom: 1em;
        }
        div.des {
          float: left;
          width: calc(100% - 125px);
          min-width: 125px;
          line-height: 125%;

        }

        ul li {

          margin-bottom: 1em;
          overflow: hidden;
          padding: 15px;
          list-style: none;

        }

        ul li:nth-child(even) {
          background-color: #FAFAFA;
        }

         div.more {
           text-align: right;
         }

      }
    }

  }
  div.innerBox:last-child {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
  }


}



div.lower {
  margin: 0 auto;
  width: 1000px;

  div.inner {
    width: 50%;
    float:left;
    border-right: 1px solid $borderLight;


  }

}