$bgColor: #F2F2F2;
$borderLight: #cccccc;

$headerGray: #2b2b2b;

$mediumGray: #848484;
$tritonGold: #d49f11;



.gde {
  overflow: hidden;
  background-color: #0A0822;
  //min-height: 12px;
  //height: auto;
  //padding: .7em 0;

  //height: 0px;
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 400;
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.9);
  font-size: 3em;
  padding: 1em 2em;

  a {
    text-decoration: none;
    color: $tritonGold;
    font-family: Lato;
    text-transform: none;
    opacity: 1;
  }
  a:hover {
    opacity: .5;
  }

  #learn {
    font-size: .75em;

    #arrow {
      margin-left: .25em;
      font-size: .6em;
    }

  }
}

.slide-head {
  color: white;
  font-size: 4em;
  opacity: .03;
  width: 50%;
  text-align: center;

}
.slide-head#left {
  float: left;

}

.slide-head#right {
  float: right;

}


#home_h1 {
position: relative;
  opacity: .9;
  z-index: 9999;
  background-image: url("line-pixel.png");
  background-repeat:repeat-x;
  text-align: center;
  background-position:center;

  //font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #353535;
  font-size: 1em;
  text-transform:uppercase;
  //text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);

  margin-bottom: 0px;
margin-top:0px;
  //text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
padding: 10px 0px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .8);
  background-color: white; //#0A0822;
  span {
    background-color: white;
    padding: 0px 1em;
    opacity: 2;
  }

}


.s-left {

  text-align: left;

  div.overlay {
    margin-left: 5%;
  }

}
.s-right {

  text-align: right;

  div.overlay {
    margin-right: 5%;
  }
}


#everything {
  width: 9px;
 // height: 100%;
  //background: url("/assets/trident-handle.png") repeat-y center;
  background-color: $tritonGold;
 // border-bottom: 1px solid #ae840e;
  position: absolute;
  z-index: 1000;
  opacity: .95;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}


.home {

  position: relative;
  width:100%;
  z-index: 10;

}
div.outer#front {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 1);
}

div.outer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
position: relative;

  //border-bottom: 2px solid black;


  // background-image: url("background-stamp.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 300px;

  div.inner {
    position: relative;

    width: 50%;
    float:left;

    text-align: center;
    background: rgba(0,0,0,.5);



    img.arrow {

      width: 50px;
      position: absolute;
      z-index: 9999999999;

      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: calc(100% - 50px);
      opacity: .3;
    }

    img.arrow:hover {
      opacity: 1;

    }


    img.arrow:active {
      top: calc(100% - 52px);

    }

    div.phot-cont {
      font-size: .8em;
      position:relative;

      div.overlay-cont {
        position: absolute;
        background: rgba(0,0,0,.55);
        z-index: 998;
        width: 100%;
        height: 100%;

      }
      div.overlay {
        font-size: 6em;
        color: #ffffff;
        div.title {
          font-size: 1em;
          color: #ffffff;
          font-style: italic;
        }
        div.word {
          font-size: 1.5em;
          color: #f9ffb5;
          font-style: italic;
          position: absolute;
          top: -1.5em;
          text-align: center;
          width: 100%;
          margin: 0;
          padding: 0;
        }
        //margin-top: 50%;


        position: absolute;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.9);

        left:0;
        right:0;
        bottom:10%;


        z-index: 999;
        div {position: relative; line-height: 80%; opacity: .9;}
        span.small {
          display: block;
          font-size: .5em;
          font-style: normal;
          //line-height: .5em;
          color: #ffed45;
          margin-bottom: 1em;
        }
        span.word {
          font-style: italic;
          font-size: 2em;
          line-height: 0em;
        }
        //background: rgba(0, 0, 0, 0.5);


        a.butt {
          font-style: normal;
          text-shadow:none;
          background-color: #252E61;
          color: white;

          border: none;
          border-bottom: 4px solid #12172f;
          cursor: pointer;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          font-size: .5em;
          //font-family: Georgia, Times, "Times New Roman", serif;
          padding: 10px 20px;
          position: relative;
          //bottom: 50px;
          line-height: 50%;
          text-decoration: none;
          //margin: 0 auto;


        }
        a.butt:hover {
          background-color: #333e88;
        }

        a.butt:active {
          background-color: #1f264e;
          border: none;
          top: 4px;
        }
      }


    }

    div.slide {
      //eft: 100px;
      width: 100%;
      //box-shadow: 0 0 30px rgba(0,0,0,0.5);

      position: relative;
      z-index: 1;

      img {
        width: 100%;
        -webkit-transform: translateZ(0);
      }
    }

    div.slide:not(:last-child) {

      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  div.innerBox {

    overflow: hidden;
    width: calc(50% - 1px);
    float:left;
    border-right: 1px solid #cccccc;
    padding: 0px 0%;




    .pos {
      font-size: 18px;
      line-height: 140%;
      padding: 20px 80px;

      h3 {
        font-size: 1em;
      }

      li {
        margin-bottom: 40px;
      }
    }

    .res {
      font-size: 18px;
      line-height: 140%;
      padding: 20px 80px;

      li {
        margin-bottom: 20px;
        margin-left: 25px;

        a {
          color: $headerGray;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

/*
    ul.info {
      text-align: left;
      list-style-type:none;

      font-size: 1.2em;

      div.label {
        float: left;
        margin-right: 25px;
        width: 100px;
        color: $mediumGray;

        margin-bottom: 1em;
      }

      div.info {
        float: left;
        width: calc(100% - 125px);
        min-width: 125px;
        line-height: 125%;

      }
    }
    */
    h2 {
      background-image: url("line-pixel.png");
      background-repeat:repeat-x;
      text-align: center;
      background-position:center;

      font-family: Georgia, Times, "Times New Roman", serif;
      font-weight: 1000;
      color: #2a2a2a;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: 16px;

      span {
        background-color:  $bgColor;
        padding: 0px 1em;
      }
    }


    .infosBox {
      padding: 0px 5%;
      text-align: center;


      .infos {

        font-size: 1.2em;
        text-align: left;

        a {
          color: #424242;
        }
        a:hover {
          color: #252E61;
        }

        ul {
          padding: 0px;
          margin: 0px;
          list-style-type:none;
        }

        div.label {
          float: left;
          text-align: right;
          margin-right: 85px;
          width: 180px;
          color: $mediumGray;
          font-style: italic;
          margin-bottom: 0em;
        }

        div.label.date {
          text-align: left;
        }

        div.info {
          float: left;
          text-align: left;
          min-width: 125px;
          line-height: 100%;

          span.date {

            vertical-align: center;
            font-size: .6em;
          text-transform: uppercase;
            font-style: italic;
            color: gray;
            margin-left: 12px;

          }

        }

        ul li {

          margin-bottom: .5em;
          overflow: hidden;
          padding: 5px;
          list-style: none;

        }


        div.more {
          text-align: right;
        }

      }
    }


    .updatesBox {
      padding: 0px 5%;
      text-align: center;



      .nextConf {
        background-color: #E6E6E6;

        display: inline-block;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        padding: .7em;
        margin-bottom: 16px;
        border-top: 1px solid $borderLight;
        border-bottom: 1px solid white;



        span.next {
          font-size: .6em;
          vertical-align: 2px;
          margin-right: .7em;
          color: #C4C4C4;
        }
      }
      .nextConf:hover {
        border-top: 1px solid black;
        background-color: #252E61;
        color: white;

        span.next {
          color: #C4C4C4;
        }
      }


      a {
        color: $mediumGray;
        text-decoration: none;
      }


      .updates {


        font-size: 16px;
        text-align: left;

        a {
          color: #424242;
        }
        a:hover {
          color: #252E61;
        }

        ul {
          padding: 0px;
          margin: 0px;
        }

        div.date {
          float: left;
          margin-right: 25px;
          width: 100px;
          color: $mediumGray;

          margin-bottom: 1em;
        }
        div.des {
          float: left;
          width: calc(100% - 125px);
          min-width: 125px;
          line-height: 125%;

        }

        ul li {

          margin-bottom: 1em;
          overflow: hidden;
          padding: 15px;
          list-style: none;

        }

        ul li:nth-child(even) {
          background-color: #FAFAFA;
        }

         div.more {
           text-align: right;
         }

      }
    }

  }
  div.innerBox:last-child {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
  }


}



div.lower {
  margin: 0 auto;
  width: 1000px;

  div.inner {
    width: 50%;
    float:left;
    border-right: 1px solid $borderLight;


  }

}