$bgColor: #d9d9d9;
$borderLight: #cccccc;

$headerGray:  #424242;

$mediumGray: #848484;

div.next-trav-conf {
  //width: 100%;
  background-color: gray;

  padding: 2em;
}


div.apply {
  color: white;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  border-bottom: 2px solid rgb(0, 0, 0);
  display: inline-block;
  padding: .5em 1em;
  font-style: normal;
}

div.apply:hover {
  background: rgba(255, 255, 255, 0.13);
}



div#apply-now {
  margin-bottom: 1px;
  text-align: right;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 58, 212, 0.6);
  padding: .75em;
  color: white;
  vertical-align: middle;

  h2 {
    display: inline-block;
    padding: 0;
    margin: 0;

    margin-left: 1.5em;
    vertical-align: middle;
    text-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    float:left;
  }
  //width: 30%;


}


div#trav-dates {

 // margin-right: 10%;
  padding-right: 4%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      border-bottom: 1px solid #bfbfbf;
      padding: .8em;
      font-family: 'Oswald' sans-serif;
      text-transform: uppercase;
      font-size: 2em;

      h2 {
        font-style: italic;
        color: #2f2f2f;
      }

      div.apply {
      background-color: rgba(19, 20, 48, 0.12);
        color: #404040;
        border-bottom: 2px solid rgba(0, 0, 0, 0.26);
      }
    }

    li:first-child {
      padding-top: 0px;

      h2 {
        margin-top: 0;
      }
    }
  }


  h2 {
   /// border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  }
  width: 65%;
  text-align: left;
  display: inline-block;
  vertical-align: top;

  font-size: .8em;




  table {
    font-size: 1.7em;
    border-collapse: collapse;
    //border-radius: 8px;

    background: rgba(0, 0, 0, 0.10);




    td {
      padding: .5em 1em;

    }

    td:nth-child(2) {
      font-weight: bold;
    }

    tr:not(:last-child){
      td {
        border-bottom: rgb(156, 156, 156) 1px solid;
      }
    }


  }

}

div#trav-con {

  h2 {
    //border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  }

  width: 30%;
  font-size: .8em;
  text-align: left;



  display: inline-block;
  vertical-align: top;


  div#inner {
    background: #0A0822;
    color: white;
    padding: 1em;
  }
  div.person:not(:last-child) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.19);
  }

  div.person {


    ul {
      list-style: none;
      padding: 0;

      li {

      }

      li.name {
        font-size: 1.1em;
        font-weight: bold;
        padding-bottom: .5em;

      }

      li.pos {

        font-style: italic;

      }

      .email_address {
        color: white;
      }

    }
  }
}

ul.resources {
  text-align: left;
  width: 50%;
  margin: 0 auto;

  margin-bottom: 3em;

  font-size: 1.5em;

  li {
    margin-bottom: .5em;

  }

  li:hover {
    margin-bottom: .5em;

  }

  a {
    color: #292929;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 187, 0, 0.36);
  }

  a:hover {
    border-bottom: 1px solid rgba(255, 187, 0, 1);
  }
}
div.past-conf {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  text-align: left;
  margin-bottom: .75em;
  padding-bottom: .75em;

  padding-left: .25em;

  color: rgba(0, 0, 0, 0.84);

  border-bottom: 1px rgba(0, 0, 0, 0.08) solid;


  div.award {
    margin-top: .75em;
    font-size: .5em;
    font-style: italic;
    color: #745500;
  }

  div.award:before {
    content: "\2605";
  }
}


#all {

  text-align: center;
  margin-top: 40px;
}

i {
  font-weight: 100;
  margin-right: .5em;
  color: #d49f11;
}

div.past-cont {
  width: 70%;
  margin: 0 auto;
}

h1.subhead {
  background-image: url("line-pixel.png");
  background-repeat: repeat-x;
  text-align: left;
  padding-left: 3em;
  background-position: center;
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  font-size: 1.2em;
  /* text-shadow: 0px -1px 0px black; */
  margin-bottom: 30px;
  margin-top: 30px;
  /* opacity: .3; */
  color: #AFAFAF;
  text-transform: uppercase;

  span#main {
    background-color:  $bgColor;
    padding: 0px 1em;
  }
}


div#confs {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;


  div.innerRom {

    width: calc(33.333% - 21px);
    float:left;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0px 10px;
    padding-bottom: 50px;

    text-align: center;

    margin: 0 auto;

    h2 {
      background-image: url("line-pixel.png");
      background-repeat:repeat-x;
      text-align: center;
      background-position:center;

      font-family: Georgia, Times, "Times New Roman", serif;
      font-weight: 1000;
      color: $headerGray;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: 50px;
      margin-top: 0px;

      span {
        background-color:  $bgColor;
        padding: 0px 1em;
      }
    }

    div.romanBox {
      font-size:3em;
      padding: 30px;
      text-align: center;

      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 1px solid white;

    }

    div.romanBox:hover {
      border-top: 1px solid black;
      background-color: #252E61;
      color: white;
    }

    a {
      color: #4a4a4a;
      text-decoration: none;
    }
  }

  div.innerRom:last-child {
    border-right: none;
  }
}