$bgColor: #F2F2F2;
$borderLight: #cccccc;

$headerGray:  #424242;

$mediumGray: #848484;

div.faq {
  text-align: left;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;

  div.question {
    font-style: italic;
    font-weight:bold;
  }

  div.answer {
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 150%;
  }
}

div#pp_top {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 60px;

  p#dead {
    font-size: 1.5em;
  }
}

#example_paper {
  background-color: white;
  margin: 0 auto;

  padding: 1in;
  width: 6.5in;
  text-align: left;

  font-family: "Times New Roman";
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

}

div#comm_cont {
  text-align:left;


  h2 {
    color: #323951;
    font-size: 2.2em;
  }

  .comm_box {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding-bottom: 110px;
    border-bottom: 1px solid $borderLight;
    position: relative;

    div.ban-cont{

      position: relative;


      h3 {
        font-size: 1.6em;
        position:absolute;
        width: 100%;
        text-align: center;
        top: 404px;
        padding: 5px 0px;
        color: rgba(255,255,255,.9);

        background-color: rgba(0,0,0,.7);
        text-shadow: 0px 1px 2px rgba(0,0,0,.7);

      }

      img.banner {
        margin-top: 30px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
      }
    }

    div.button {
      font-size: 1em;
      text-align: center;
      color: $mediumGray;
      padding: .5em;
      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 1px solid white;

      margin-right: 12px;
    }
/*
    div.button:hover {
      border-top: 1px solid black;
      background-color: #252E61;
      color: white;
    }
*/
    a {
      color: $mediumGray;
      text-decoration: none;
    }

  div.chair {
      span.chair {
        color: gray;
        font-style: italic;
        margin-right: 10px;
      }
      span.name {

      }
    }


  }

}
h2#season {
  text-align: center;
  font-size: 2em;
  color: $mediumGray;
  margin-top: 0;
}

h2#past {
  text-align: center;
  font-size: 2em;
  color: $mediumGray;
  margin-top: 300px;
}

h1#tritonmun {

  background-image: url("line-pixel.png");
  background-repeat:repeat-x;
  text-align: center;
  background-position:center;

  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 1000;
  color: $headerGray;
  font-size: 4em;
  text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);


  span#main {
    background-color:  $bgColor;
    padding: 0px 1em;
  }

  span#roman {
    color: #C7B052;
    padding: 0;
    text-shadow:  0px -.6px 0px rgba(115, 102, 47, .9);
  }

}

div.conf_cont {

  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;


  text-align: center;

  div#buttonBox {
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;


    div.button {


      font-size:1em;
      text-align: center;

      padding: .5em;


      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 1px solid white;

      margin-right: 12px;
    }

    div.button#register {
      background-color: #E9E9BD;
      margin-right: 0em;
    }

    div.button#register:hover {
      background-color: #D8B526;
      border-top: 1px solid #9F8419;
    }


    div.button:hover {
      border-top: 1px solid black;
      background-color: #252E61;
      color: white;
    }

    a {
      color: $mediumGray;
      text-decoration: none;
    }

    div.button.current {
      border-top: 1px solid black;
      background-color: #252E61;
      color: white;
    }

    div.button.current:hover {
      border-top: 1px solid #1c224b;
      background-color: #333e88;
      color: white;
    }

    div.button.current#register:hover {
      background-color: #e8c428;
      border-top: 1px solid #b4961c;
      margin-right: 0em;
    }

    div.button.current#register {
      background-color: #d8b526;
      border-top: 1px solid #9F8419;
      margin-right: 0em;
    }
  }

}

div#letter {
  margin: 50px 0px;
  padding: 0px 25%;
  font-style: italic;
  font-size: 18px;

  div#by {
    text-align: right;
  }
}


div#tmun1 {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;


  div.innerRom {
    width: 47.92%;
    float:left;
    border-right: 1px solid #cccccc;
    padding: 0px 1%;

    text-align: center;

    margin: 0 auto;

    h2 {
      background-image: url("line-pixel.png");
      background-repeat:repeat-x;
      text-align: center;
      background-position:center;

      font-family: Georgia, Times, "Times New Roman", serif;
      font-weight: 1000;
      color: $headerGray;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: 1em;
      margin-top: 0px;

      span {
        background-color:  $bgColor;
        padding: 0px 1em;
      }
    }

    div.romanBox {
      font-size:8em;
      padding: 0px 20px;
      text-align: center;

      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 1px solid white;
    }

    div.romanBox:hover {
      border-top: 1px solid black;
      background-color: #252E61;
      color: white;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  div.innerRom:last-child {
    border-right: none;
  }
}





