$bgColor: #F2F2F2;
$borderLight: #cccccc;

$headerGray:  #424242;

$mediumGray: #848484;

body {
  //font-family: 'Lora', serif;
  //font-family: 'Muli', sans-serif;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {

}

li.fields {

  display: table-row;

  a{
    width: 10px;
  }



  span {
    width: 50%;
    display: table-cell;
  }

  span.remove {
    background: red;
    width: 0px;
    margin: 0px;
    padding: 0px;
    display: inline;

    input, a {
      width: 10px;
      margin: 0px;
      padding: 0px;

    }

  }

  caption {
    text-decoration: bold;
    font-size: 20px;
    text-align: left;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
  }

  span.left {
    font-weight: bold;
    padding: 18px;
    font-size: 16px;
    border-top: solid 1px white;
    background-color: #CAD4F5;
    border-bottom: solid 2px #A8B0CB;
    border-radius:6px;
    text-align: right;
    color: #3c3e48;
  }

  span#time {

    text-align: left;

    input {
      width: 20%;
      font-size: 1em;
      margin: 0;

    }

    label {
      margin: 0;
      font-size: 1em;
    }
  }
  span#activity {

    text-align: left;

    input {
      width: 30%;
      font-size: 1em;
      margin: 0;

    }

    label {
      margin: 0;
      font-size: 1em;
    }
  }

  span.right {
    padding: 18px;
    font-size: 16px;
    background-color: #E6E6E6;
    border-top: solid 1px white;
    border-bottom: solid 2px #D8D8D8;
    border-radius:6px;
  }

  tr.sched {
    //border-bottom: solid 1px black;

  }

}

li.sched, .ques {
  background: rgba(0,0,0,.03);
  margin-bottom: 12px;
  padding: 15px;

  display: block !important;
}



div.faq {
  text-align: left;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;

  div.question {
    font-style: italic;
    font-weight:bold;
  }

  div.answer {
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 150%;
  }
}

div#pp_top {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  color: #333333;

  p#dead {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 2px;
  }
  p#dead2 {
    margin-top: 8px;
    margin-bottom: 2px;
  }


  span.exclaim {
    //position: absolute;
    //opacity: .3;
    //z-index: 0;
    font-size:3em;
    color: darkred;
    line-height: .5em;
    text-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;

  }
}

#example_paper {
  background-color: white;
  margin: 0 auto;

  padding: 1in;
  width: 6.5in;
  text-align: left;

  font-family: "Times New Roman";
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

}

div#comm_cont {
  text-align:left;


  h2 {
    color: #323951;
    font-size: 2.2em;
  }

  .comm_box {
    max-width: 1000px;
    margin: 0 auto;


    padding-bottom: 110px;
    border-bottom: 1px solid $borderLight;
    position: relative;

    div.ban-cont{

      position: relative;


      h3 {
        font-size: 1.6em;
        position:absolute;
        width: 100%;
        text-align: center;
        top: 404px;
        padding: 5px 0px;
        color: rgba(255,255,255,.9);

        background-color: rgba(0,0,0,.7);
        text-shadow: 0px 1px 2px rgba(0,0,0,.7);

      }

      img.banner {
        margin-top: 30px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
      }
    }

    div.button {
      font-size: 1em;
      text-align: center;
      color: $mediumGray;
      padding: .5em;
      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 1px solid white;

      margin-right: 12px;
    }

    div.button:hover {
      border-top: 1px solid black;
      background-color: #252E61;
      color: white;
    }

    a {
      color: $mediumGray;
      text-decoration: none;
    }

  div.chair {
      span.chair {
        color: gray;
        font-style: italic;
        margin-right: 10px;
      }
      span.name {

      }
    }


  }

  .comm_box:not(:last-of-type) {
    margin-bottom: 70px;
  }

}
h2#season {
  text-align: center;
  font-size: 2em;
  color: $mediumGray;
  margin-top: 0;
}

h2#past {
  text-align: center;
  font-size: 2em;
  color: $mediumGray;
  margin-top: 300px;
}

h1#tritonmun {

  background-image: url("line-pixel.png");
  background-repeat:repeat-x;
  text-align: center;
  background-position:center;

  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 1000;
  color: $headerGray;
  font-size: 4em;
  text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);

  margin-bottom: 0px;


  span#main {
    background-color:  $bgColor;
    padding: 0px 1em;
  }

  span#roman {
    color: #C7B052;
    padding: 0;
    text-shadow:  0px -.6px 0px rgba(115, 102, 47, .9);
  }

}
.home {

}


div#buttonBox {
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  font-family: 'Lato', sans-serif;


  div.button {


    font-size:1.2em;
    text-align: center;

    padding: .7em 1em;


    background-color: #E6E6E6;

    display: inline-block;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    margin-bottom: 16px;
    border-top: 1px solid $borderLight;
    border-bottom: 1px solid white;

    margin-right: 12px;
  }

  div.button#register {
    background-color: #E9E9BD;
    margin-right: 0em;
  }

  div.button#register:hover {
    background-color: #D8B526;
    border-top: 1px solid #9F8419;
  }


  div.button:hover {
    border-top: 1px solid black;
    background-color: #252E61;
    color: white;
  }

  a {
    color: $mediumGray;
    text-decoration: none;
  }

  div.button.current {
    border-top: 1px solid black;
    background-color: #252E61;
    color: white;
  }

  div.button.current:hover {
    border-top: 1px solid #1c224b;
    background-color: #333e88;
    color: white;
  }

  div.button.current#register:hover {
    background-color: #e8c428;
    border-top: 1px solid #b4961c;
    margin-right: 0em;
  }

  div.button.current#register {
    background-color: #d8b526;
    border-top: 1px solid #9F8419;
    margin-right: 0em;
  }
}




div.conf_cont {

  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;


  text-align: center;

}

div#letter {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 130%;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 25%;
  font-style: italic;
  font-size: 18px;

  div#by {
    text-align: right;
  }
}

a.past-confs {

  text-decoration: none;
  font-style: italic;
  color: #6d6d6d;
  background: #00000e;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  border-top: 1px black ;
  border-bottom: 1px solid #212121;
  padding: 6px 8px;
}

a.past-confs:hover {

  background-color: #efe346;
  color: white;
  border-top: 0px black ;
  border-bottom: 0px solid #212121;
}

div.upcoming-cont {
  width: 100%;
  background: #0A0822;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 2px solid black;

  height: 150px;
div.upcoming {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;

  h1, h2, h3 {
    background: #0A0822;
  }

}
}



div#tmun1 {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px;

  div.innerRom {
    width: 47.92%;
    float:left;
    border-right: 1px solid #23232c;
    padding: 0px 1%;

    text-align: center;

    margin: 0 auto;

    h2 {
      background-image: url("line-pixel-dark.png");
      background-repeat:repeat-x;
      text-align: center;
      background-position:center;

      //font-family: Georgia, Times, "Times New Roman", serif;
      font-family: 'Lato', sans-serif;
      font-weight: 1000;
      color: #d2d2d2;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: .5em;
      margin-top: 0px;

      span {
        background-color:  #0A0822;
        padding: 0px 1em;
      }
    }

    div.romanBox {
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size:4em;
      padding: 0px 20px;
      text-align: center;

      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 3px solid #555555;

      position: relative;
    }

    div.romanBox:hover {
      border-top: 1px solid black;
      background-color: #D8B526;
      border-bottom: 3px solid #5d5617;
      color: white;
    }

    div.romanBox:active {
      border-top: 1px solid black;
      border-bottom: 0px solid #5d5617;
      top: 3px;

    }

    div.disabled {
      background: #000012;
      color: #3a3e53;
      border-top: 1px black ;
      border-bottom: 1px solid #212121;

    }

    div.disabled:hover {
      background: #000012;
      color: #3a3e53;
      border-top: 1px black ;
      border-bottom: 1px solid #212121;

    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  div.innerRom:last-child {
    border-right: none;
  }
}

div.crisis {
  width: 100%;
  background: #dedede;
  padding-top: 1em;

  //color: white;

  border: dashed 10px rgba(0,0,0,.05);

  .comm_box {
    margin-bottom: 0px;
  }
}





