$bgColor: #d9d9d9;
$borderLight: #ffffff;

$headerGray:  #424242;

$mediumGray: #848484;

body {
  //font-family: 'Lora', serif;
  //font-family: 'Muli', sans-serif;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {

}
.speaker-cont {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1em;
  //font-family: 'Georgia', serif;
  line-height: 1.5;

  .speaker-box {
    padding: 2em;
    border-bottom: 8px solid #D2D3D6;

    .portrait {

      display: inline-block;
      border-radius: 50px;
      height: 100px;
      overflow: hidden;

      img {
        /* border-radius: 50px; */
        width: 100px;
      }

    }

    h1.speaker {
      color: rgb(27, 56, 95);
      margin-top: 0;
      span.name {
        color: rgb(51, 105, 173);
      }
      span.slash {
        color: lightgray;
      }
    }
  }

  .speaker-box:last-of-type {
    border: none;
  }
}
.link-button {
  /* border: 1px solid rgb(27, 56, 95); */
border-bottom: 3px solid rgb(24, 53, 91);
  color: white;
  background: rgb(57, 123, 206);
  border-radius: 4px;
  padding: 1em;
  /* margin: 1em; */
  display: inline-block;
  margin-top: 1em;
}
.sched-form {
  font-size: .75em;

  table {
    text-align: left;
    font-size: .75em;
/*    background-color: white;
    border-radius: 3px;
    border-top: 1px solid gray;*/

    td {
      //border: 1px solid lightgray;
    }
  }
}


.question {
  //cursor: pointer;
  //margin-bottom: 1em;


  span.arrow {
    /* margin-right: 1em; */
    font-size: 1em;
    /* opacity: .5; */
    color: rgb(57, 123, 206);
    float: right;

    margin-left: 8px;

  }
}

.answer {
  padding-left: 1em;
}

li.fields {

  display: table-row;

  a{
    width: 10px;
  }



  span {
    width: 50%;
    display: table-cell;
  }

  span.remove {
    background: red;
    width: 0px;
    margin: 0px;
    padding: 0px;
    display: inline;

    input, a {
      width: 10px;
      margin: 0px;
      padding: 0px;

    }

  }

  caption {
    text-decoration: bold;
    font-size: 20px;
    text-align: left;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
  }

  span.left {
    font-weight: bold;
    padding: 18px;
    font-size: 16px;
    border-top: solid 1px white;
    background-color: #CAD4F5;
    border-bottom: solid 2px #A8B0CB;
    border-radius:6px;
    text-align: right;
    color: #3c3e48;
  }

  span#time {

    text-align: left;

    input {
      width: 20%;
      font-size: 1em;
      margin: 0;

    }

    label {
      margin: 0;
      font-size: 1em;
    }
  }
  span#activity {

    text-align: left;

    input {
      width: 30%;
      font-size: 1em;
      margin: 0;

    }

    label {
      margin: 0;
      font-size: 1em;
    }
  }

  span.right {
    padding: 18px;
    font-size: 16px;
    background-color: #E6E6E6;
    border-top: solid 1px white;
    border-bottom: solid 2px #D8D8D8;
    border-radius:6px;
  }

  tr.sched {
    //border-bottom: solid 1px black;

  }

}

li.sched, .ques {
  background: rgba(0,0,0,.03);
  margin-bottom: 12px;
  padding: 15px;

  display: block !important;
}





div#pp_top {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  color: #333333;
  margin-top: 32px;

  p#dead {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 2px;
  }
  p#dead2 {
    margin-top: 8px;
    margin-bottom: 2px;
  }


  span.exclaim {
    //position: absolute;
    //opacity: .3;
    //z-index: 0;
    font-size:3em;
    color: darkred;
    line-height: .5em;
    text-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;

  }
}

#example_paper {
  background-color: white;
  margin: 0 auto;

  padding: 1in;
  width: 6.5in;
  text-align: left;

  font-family: "Times New Roman";
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

}

table.sched {

  margin: 0 auto;

  font-size: 1.2em;
  border-collapse: collapse;

  width: 95%;

  caption {
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5em 0;
  }

  tr.sched {

    border-bottom: 1px solid rgba(0, 0, 0, 0.09);


    td {

      padding: .5em 1em;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    }
    td.left {
      text-align: right;
     // padding-right: .5em;
      background: rgba(35, 43, 92, 0.25);
    }

    td.right {
      text-align: left;
      //padding-left: .5em;
    }
  }
}

div#comm_cont {
  text-align:left;


  h2 {
    color: #323951;
    font-size: 2.2em;
  }

  .comm_box {
    max-width: 1000px;
    margin: 0 auto;


    padding-bottom: 2em;
    border-bottom: 1px solid $borderLight;
    position: relative;

    div.ban-cont{

      position: relative;


      h3 {
        margin-top: 0;
        font-size: 1.6em;
        width: 100%;
        text-align: center;
        padding: 5px 0px;
        color: rgba(255,255,255,.9);
        background-color: #323951;
        text-shadow: 0px 1px 2px rgba(0,0,0,.7);
      }

      div.image-cont {
        max-height: 300px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        img.banner {
          width: 100%;
        }
      }

    }

    div.button {
      font-size: 1em;
      text-align: center;

      padding: .2em .5em;
      background-color: #ffffff;

      display: inline-block;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 2px solid #9f9f9f;

      margin-right: 12px;
      color: #383838;
    }

    div.button:hover {
      background-color: #323951;
      color: white;
    }

    a {
      color: #343434;
      text-decoration: none;
    }

  div.chair {

      span.chair {
        color: gray;
        font-style: italic;
        margin-right: 10px;
      }
      span.name {

      }
    }


  }

  .comm_box:not(:last-of-type) {
    margin-bottom: 1em;
  }

}
h2#season {
  text-align: center;
  font-size: 1em;
  color: $mediumGray;
  margin-top: 0;
}

h2#past {
  text-align: center;
  font-size: 2em;
  color: $mediumGray;
  margin-top: 300px;
}

h1#tritonmun {

  background-image: url("line-pixel.png");
  background-repeat:repeat-x;
  text-align: center;
  background-position:center;

  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 1000;
  color: $headerGray;

  text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);

  margin-bottom: 0px;
  margin-top: 20px;


  span#main {
    background-color:  $bgColor;
    padding: 0px 1em;
  }

  span#roman {
    color: #C7B052;
    padding: 0;
    text-shadow:  0px -.6px 0px rgba(115, 102, 47, .9);
  }

}
.home {

}


div#buttonBox {
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background: rgba(19, 20, 48, 0.12);
  padding-top: 1em;
  border-top: rgba(0, 0, 0, 0.11) solid 1px;
  border-bottom: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  div.button {


    font-size: 1em;
    text-align: center;
    padding: .3em .6em;
    text-transform: uppercase;
    font-weight: 900;
    color: #000000;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    margin-right: 12px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  div.button#register {
    background-color: #E9E9BD;
    margin-right: 0em;
  }

  div.button#register:hover {
    background-color: #D8B526;
    border-top: 1px solid #9F8419;
  }


  div.button:hover {
    ///border-top: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.75);

  }

  a {
    color: #343434;
    text-decoration: none;
  }

  div.button.current {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #252E61;
    color: white;
  }

  div.button.current:hover {
    border-top: 1px solid #1c224b;
    background-color: #333e88;
    color: white;
  }

  div.button.current#register:hover {
    background-color: #e8c428;
    border-top: 1px solid #b4961c;
    margin-right: 0em;
  }

  div.button.current#register {
    background-color: #d8b526;
    border-top: 1px solid #9F8419;
    margin-right: 0em;
  }
}




div.conf_cont {

  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0px;


  text-align: left;

}
div.letter-cont {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
div.photo {
  //float: right;
  //width: 40%;
  img {
    //width: 90%;
    //float: right;
    //margin-top: 60px;
  }
}
div#letter {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 130%;
  /* margin: 0 auto; */
  width: 60%;
  /* max-width: 700px; */

  /* padding: 0px 25%; */
  font-style: italic;
  font-size: 18px;
  float: left;


  div#by {
    text-align: right;
  }
}

a.past-confs {

  text-decoration: none;
  font-style: italic;
  color: #6d6d6d;
  background: #00000e;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  border-top: 1px black ;
  border-bottom: 1px solid #212121;
  padding: 6px 8px;
}

a.past-confs:hover {

  background-color: #efe346;
  color: white;
  border-top: 0px black ;
  border-bottom: 0px solid #212121;
}

div.upcoming-cont {
  background: #0A0822;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 2px solid black;

  min-height: 150px;
div.upcoming {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 100%;

  h1, h2, h3 {
    background: #0A0822;
  }

}
}

div#trav1 {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px;

  min-height: 100%;
  height: 100%;

  div.innerRom {
    display: table-cell;
    div.trav_cont {
      margin-bottom: 2em;
      padding: 1em;
    }
    min-height: 100%;
    height: 100%;
    width: 30%;
    min-width: 330px;

    border-right: 1px solid #23232c;

    padding: 0px 1%;

    padding-bottom: 2em;

    text-align: center;

    margin: 0 auto;

    div.desc {
      font-size: 1.1em;
      color: white;
      text-align: left;
      padding: 0em 1em;
      padding-bottom: 2em;
      padding-top: 1.5em;
      border-bottom: 1px solid #23232c;

      div.title {
        font-size: 1.5em;
        margin-bottom: .75em;

        font-weight: bold;
      }

      div.details {
        margin-bottom: 1em;
        opacity: .5;
      }

      span.email_address {
        color: white;
        opacity: .8;

      }
    }

    h2 {

//      background-image: url("line-pixel-dark.png");
//      background-repeat:repeat-x;
      text-align: center;
     // background-position:center;

      border-bottom: 5px solid rgba(255, 255, 255, 0.13);

      //font-family: Georgia, Times, "Times New Roman", serif;
      font-family: 'Lato', sans-serif;
      font-weight: 1000;
      color: #ffffff;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: 2em;
      margin-top: 0px;
      padding-bottom: .5em;

      span {
        background-color:  #0A0822;
        padding: 0px 1em;
      }
    }

    div.romanBox {
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size:2.5em;
      padding: 10px 20px;
      text-align: center;

      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 3px solid #555555;

      position: relative;
    }

    div.romanBox:hover {
      border-top: 1px solid black;
      background-color: #D8B526;
      border-bottom: 3px solid #5d5617;
      color: white;
    }

    div.romanBox:active {
      border-top: 1px solid black;
      border-bottom: 0px solid #5d5617;
      top: 3px;

    }

    div.disabled {
      background: #000012;
      color: #434860;
      border-top: 1px black ;
      border-bottom: 1px solid #212121;

    }

    div.disabled:hover {
      background: #000012;
      color: #3a3e53;
      border-top: 1px black ;
      border-bottom: 1px solid #212121;

    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  div.innerRom:last-child {
    border-right: none;
  }
}



div#tmun1 {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px;

  div.innerRom {
    width: 47.92%;
    border-right: 1px solid #23232c;
    padding: 0px 1%;

    text-align: center;

    margin: 0 auto;

    h2 {
      background-image: url("line-pixel-dark.png");
      background-repeat:repeat-x;
      text-align: center;
      background-position:center;

      //font-family: Georgia, Times, "Times New Roman", serif;
      font-family: 'Lato', sans-serif;
      font-weight: 1000;
      color: #d2d2d2;
      font-size: 2em;
      text-shadow:  0px -1px 0px rgba(0, 0, 0, 1);
      margin-bottom: .5em;
      margin-top: 0px;

      span {
        background-color:  #0A0822;
        padding: 0px 1em;
      }
    }

    div.romanBox {
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size:4em;
      padding: 0px 20px;
      text-align: center;

      background-color: #E6E6E6;

      display: inline-block;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      margin-bottom: 16px;
      border-top: 1px solid $borderLight;
      border-bottom: 3px solid #555555;

      position: relative;
    }

    div.romanBox:hover {
      border-top: 1px solid black;
      background-color: #D8B526;
      border-bottom: 3px solid #5d5617;
      color: white;
    }

    div.romanBox:active {
      border-top: 1px solid black;
      border-bottom: 0px solid #5d5617;
      top: 3px;

    }

    div.disabled {
      background: #000012;
      color: #3a3e53;
      border-top: 1px black ;
      border-bottom: 1px solid #212121;

    }

    div.disabled:hover {
      background: #000012;
      color: #3a3e53;
      border-top: 1px black ;
      border-bottom: 1px solid #212121;

    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  div.innerRom:last-child {
    border-right: none;
  }
}

div.crisis {
  width: 100%;
  background: #dedede;
  padding-top: 1em;

  //color: white;

  border: dashed 10px rgba(0,0,0,.05);

  .comm_box {
    margin-bottom: 0px;
  }
}





