// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

ul.ad {

  width: 60%;
  margin: 0 auto;
  margin-top: 2em;
  list-style: none;

  li {
    line-hieght: normal;
    margin-bottom: 1em;

    span {
      display: block;
    }
  }

  .admin {

    font-size: 2em;
    opacity: 1;
    padding: 10px;
    //background: rgba(255, 0, 0, 0.26);

    border: 1px solid red;

    color: red;
    text-decoration: none;

    //line-height: 4em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .admin:hover {
    background: rgba(255, 0, 0, 1);
    color: white;
  }
}

.narrow {

  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: left;

  margin-top: 1em;



  .even_more {
    width: 800px;
    margin: 0 auto;

  }

  div.two-cols {
    overflow: hidden;
  }

  div.col {
    width: 50%;
    float:left;
  }
  div#left {
    padding-right: 40px;
    border-right: 1px solid lightgray;
  }
  div#right {
    width: calc(50% - 41px);

    p#new {
      font-size: 40px;
      text-align: center;

      a {
        color: #b79300;
        text-decoration: none;
      }
      a:hover {
        color: #ffd300;
        text-decoration: none;
      }
    }
  }
}
*:focus {
  outline: 0;
}

.forms {
 margin-top: 50px;

 // height: 22px;

tr {
  text-align: right;
}

  div.outer {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    div.labels {
      position: relative;

      width: 30%;
      float: left;

    }
    div.inputs {
      position: relative;


      float: left;
      text-align: left;
      margin-left: 15px;

      width: calc(50% - 15px);

    }
  }
}

table.sign {


  .check {
    text-align: left;
  }
  text-align: right;
  tr {


    td {
      padding: 5px 5px;

    }
  }
}

div#sub-cont {
  position: relative;
  text-align: right;

  margin-top: 30px;

}

.avatar {
  font-size: 18px;
  margin-top: 10px;


}
input[type=submit] {

  background-color: #252E61;
  color: white;

  border: none;
  border-bottom: 4px solid #1A2145;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 10px 20px;

  margin: 0 auto;


}
input[type=submit]:hover {
  background-color: #333e88;
}

input[type=submit]:active {
  background-color: #1f264e;
  border: none;
  margin-top: 4px;
}





div.lower-sign {

  border-top: 1px solid #d1d1d1;

  margin-top: 30px;
  padding-top: 30px;

  text-align: left;
  padding-bottom: 200px;

}


label {
  font-size: 1.5em;
  margin-right: 20px;
  color: #212121;
}

input {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 4px;
  //width: calc(100% - 10px);

}

div#desc {
  display: none;
}

div#badge_info {
  width: 130px;

  background-color: black;
  color: white;
  position: absolute;
  z-index: 1000;
  top: 0px;
  opacity: 0;
  padding: 10px;
  font-size: 12px;

}



div.badges {

  border-top: 1px solid lightgray;
  padding-top: 15px;
  position:relative;
  overflow: visible;
  div.badge {
    width: 50px;
    height: 50px;
    //background: #f1d600;
    -moz-border-radius: 25px;
    -webkit-border-radius: 1625px;
    border-radius: 25px;
    display: inline-block;
    margin: 0px 0px 14px 0px;
    font-size:1em;

    border-bottom: 2px rgba(0, 0, 0, 0.52) solid;
    border-top: 1px rgb(255, 255, 255) solid;

    span {
      //color: white;
      position: relative;
      top: .85em;
      font-weight: 900;



    }
  }
  div.badge:nth-child(3n+1) {
    background: blue;
    margin-left: 0px;
  }




}





div.user_title {

  text-align: center;


}


h2.sec_pos {
  text-align: center;
  color: gray;
  margin-top: 0px;

}

div.user_cont {

  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;

  text-align: center;

}

div.user_outer {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;


  div.ava {
    width: 150px;
    float: left;
    text-align: center;

    img {
      padding-bottom: 20px;
    }


  }

  div.user_info {
    float:left;
    width: 70%;
    padding-left: 50px;

    a {
      color: #ad7e00;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      list-style-type:none;
      padding: 0px;
      margin: 0px;
    }

    div.bio {
      font-style: italic;
      font-size: 18px;
      margin-top: 20px;

    }

  }



}
