- provide(:title, 'All Home Conferences')
%h1{class:"subhead"}
  %span{id:"main"}
    Manage Travel Conferences

%div.admin-items-cont
  - @tconferences.each do |t|
    %div.item
      %span.name
        = t.name
      %br/
      = link_to 'Edit', edit_tconference_path(t), class: "admin-link"
      = link_to 'Destroy', t, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link"

%br

= link_to 'New Travel Conference', new_tconference_path, class: 'admin-link'
