.column.full
  .module
    .admin-container.add
      = link_to 'javascript:;' do
        .clicker.add +
      %ul.admin-list
        %li
          = link_to new_cconference_topic_path(@cconference), class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/create.png'
              .words
                Add topic
    .title
      %span
        COMMITTEES
    - if @topics.present?
      = render collection: @topics, as: :topic, partial: "shared/topic", locals: {parent: @cconference}
    - else
      Committees will be announced shortly.