.narrow
  %div#comm_cont
    = link_to "Add New Topic", new_cconference_topic_path(@cconference), class: "admin-link"

    = render collection: @topics, as: :topic, partial: "shared/topic", locals: {parent: @cconference}