- provide(:title, 'SDIMUN')
%h1{class:"subhead"}
  %span{id:"main"}
    Manage Collegiate Conferences

%div.admin-items-cont
  - @cconferences.each do |c|
    %div.item
      %span.name
        = c.number
      %br/
      = link_to 'Edit', edit_cconference_path(c), class: "admin-link"
      = link_to 'Destroy', c, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link"

%br/
= link_to 'New Collegiate Conference', new_cconference_path, class: 'admin-link'
