.column.full
  .module
    .title
      %span
        SPEAKERS
    .admin-container.add
      = link_to 'javascript:;' do
        .clicker.add A
      %ul.admin-list
        %li
          = link_to url_for([:new, @parent, :speaker]), class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/create.png'
              .words
                Add speaker
    -#Speakers will be announced at a later date.
    %div.conf_cont
      .speaker-cont
        = render partial: "speakers/speaker", collection: @parent.speakers, as: :speaker, locals: {parent: @parent, conf: "false", parent_name: @parent.class.name.demodulize.downcase}
