<%= render partial: 'hconferences/home_header', locals: {hconference: hconference, title: title}%>
<div class="main_cont">

  <%= render 'shared/home_nav' %>

    <%= yield %>

</div>

<% parent_layout "application" %>